<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-validation-modal [validationModalParams]="validationModalParams"></app-validation-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div class="d-flex justify-content-center">
  <h2>
    Your Shopping List
  </h2>
</div>
<br/>

<div *ngIf="!loading">
  <div class="table-container mat-elevation-z8" *ngIf="ingredientsDataSource.filteredData.length > 0">
    <mat-table #table [dataSource]="ingredientsDataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Ingredient Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Name:</span>
          <span class="mobile-value">{{element.name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pantryQuantity">
        <mat-header-cell *matHeaderCellDef>Ingredients in Pantry</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Pantry Quantity:&nbsp;</span>
          <span class="mobile-value">{{element.pantryQuantity}} {{element.uom === 'other'? '' : element.uom}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cartQuantity">
        <mat-header-cell *matHeaderCellDef>Ingredients Needed</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">List Quantity:&nbsp;&nbsp;</span>

          <span class="mobile-value">
            <button mat-button (click)="removeIngredient(element.id)">
              <mat-icon class="buy-icon"> arrow_left </mat-icon>
            </button>
            <span style="margin: 0 10px;">
              {{element.cartQuantity}} {{element.uom === 'other'? '' : element.uom}}
            </span>
            <button mat-button (click)="addIngredient(element.id)">
              <mat-icon class="buy-icon">arrow_right</mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buy">
        <mat-header-cell *matHeaderCellDef>Add to Pantry</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Add to Pantry:&nbsp;&nbsp;</span>
          <span class="mobile-value">
            <button mat-raised-button color="primary" (click)="addIngredientToPantry(element.id)">
              Buy
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <!-- TODO: checkboxes? -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <br>

  <div class="table-container mat-elevation-z8" *ngIf="itemsDataSource.filteredData.length > 0">
    <mat-table #table [dataSource]="itemsDataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Name:</span>
          <span class="mobile-value">{{element.name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cartQuantity">
        <mat-header-cell *matHeaderCellDef>Items Needed</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">List Quantity:</span>

          <span class="mobile-value">
            <button mat-button (click)="removeItem(element.id)">
              <mat-icon class="buy-icon">arrow_left</mat-icon>
            </button>
            <span style="margin: 0 10px;">
              {{element.cartQuantity}}
            </span>
            <button mat-button (click)="addItem(element.id)">
              <mat-icon class="buy-icon">arrow_right</mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buy">
        <mat-header-cell *matHeaderCellDef>Remove from Cart</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Remove from Cart:</span>
          <span class="mobile-value">
            <button mat-raised-button color="primary" (click)="removeItemFromCart(element.id)">
              Buy
            </button>
          </span>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="itemsDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemsDisplayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="button-row" *ngIf="ingredientsDataSource.filteredData.length > 0 || itemsDataSource.filteredData.length > 0">
    <button mat-raised-button color="primary" style="float: right;" (click)="addAllToPantry()">
      Buy All
    </button>
  </div>
</div>

<div *ngIf="!loading && ingredientsDataSource.filteredData.length == 0 && itemsDataSource.filteredData.length == 0" style="text-align: center;">
  <br/>
  <h4 [hidden]="isCompleted">
    No ingredients or items have been added to your shopping list
  </h4>
  <h4 [hidden]="!isCompleted">
    Shopping list completed!
  </h4>
</div>