<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-validation-modal [validationModalParams]="validationModalParams"></app-validation-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div class="d-flex justify-content-center">
  <h2>
    Your Shopping List
  </h2>
</div>
<br/>

<div *ngIf="!loading && dataSource.filteredData.length > 0">
  <div class="table-container mat-elevation-z8"> 
    <table mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="pantryQuantity">
        <th mat-header-cell *matHeaderCellDef> Ingredients in Pantry </th>
        <td mat-cell *matCellDef="let element"> {{element.pantryQuantity}} </td>
      </ng-container>

      <ng-container matColumnDef="cartQuantity">
        <th mat-header-cell *matHeaderCellDef> Ingredients Needed </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-dark buy-button" (click)="removeIngredient(element.id)">
            <mat-icon class="buy-icon"> arrow_left </mat-icon>
          </button>
          <span style="margin: 0 10px;">
            <label class="table-col">
              {{element.cartQuantity}}
            </label>
          </span>
          <button class="btn btn-dark buy-button" (click)="addIngredient(element.id)">
            <mat-icon class="buy-icon"> arrow_right </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="buy">
        <th mat-header-cell *matHeaderCellDef> Add to Pantry </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="btn btn-primary" (click)="addToPantry(element.id)">
            Buy
          </button>
        </td>
      </ng-container>

      <!-- checkboxes? -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="button-row">
    <button mat-button class="btn btn-primary" style="float: right;" (click)="addAllToPantry()">
      Buy All
    </button>
  </div>
</div>

<div *ngIf="!loading && dataSource.filteredData.length == 0" style="text-align: center;">
  <br/>
  <h4>
    No ingredients have been added to your shopping list
  </h4>
</div>