.modal {
    &-center {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
    &-container {
        position: fixed;
        bottom: 5px;
        left: 5px;
        max-width: 250px;
        min-width: 100px;
        border-radius: 3px;
        padding: 20px 10px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
        pointer-events: auto;
        text-align: center;
    }
    &-icon, &-text {
        color: white;
        vertical-align: middle;
        height: 20px;
    }
    &-icon {
        font-size: 20px;
        margin-right: 2px;
    }
    &-text {
        font-size: 16px;
        font-weight: bold;
    }
}
.success {
    background-color: rgba(0, 120, 0, 0.9);
}
.success:hover {
    background-color: rgb(0, 120, 0);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.info {
    background-color: rgba(33, 101, 190, 0.9);
}
.info:hover {
    background-color: rgba(23, 81, 156, 0.9);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.failure {
    background-color: rgba(200, 4, 4, 0.9);
}
.failure:hover {
    background-color: rgb(200, 4, 4);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
