<div class="d-flex justify-content-center header">
  <div class="navbar">
    <a routerLink="/home" class="title"> {{title}} </a>
    <span *ngIf="(isLoggedIn | async) && !(user | async)?.isPending()" class="title-bar" [@fadeInAnimation]>
      <a mat-button routerLink="profile">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-button routerLink="/admin-dashboard" *ngIf="(user | async)?.isAdmin()">
        <mat-icon>apps</mat-icon>
      </a>
    </span>

    <div style="clear: both;"></div>

    <div *ngIf="(isLoggedIn | async) && !(user | async)?.isPending()" [@fadeInAnimation]>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/home" [ngClass]="{'selected': route === '/home'}">Home</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/recipe-list" [ngClass]="{'selected': route === '/recipe-list'}">Recipes</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/ingredient-list" [ngClass]="{'selected': route === '/ingredient-list'}">Ingredients</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/item-list" [ngClass]="{'selected': route === '/item-list'}">Items</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/shopping-list" [ngClass]="{'selected': route === '/shopping-list'}">Shopping List</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/about" [ngClass]="{'selected': route === '/about'}">About</a>
      
      <button mat-raised-button color="primary" class="nav-button" (click)="signOut()">Sign-out</button>
    </div>
  </div>
</div>