<div class="d-flex justify-content-center header">
  <div class="navbar" >
    <a routerLink="/" class="title"> {{title}} </a>
    <span *ngIf="(isLoggedIn | async) && !(isPending | async)" class="title-bar">
      <span *ngIf="isAdmin | async" class="title-btn">
          <label routerLink="/admin-dashboard">
            <mat-icon> apps </mat-icon>
          </label>
        </span>
    </span>

    <div style="clear: both;"></div>

    <div *ngIf="(isLoggedIn | async) && !(isPending | async)">

      <a mat-button routerLink="/" class="btn btn-dark">Home</a>
      <a mat-button routerLink="/recipes-list" class="btn btn-dark">Recipes</a>
      <a mat-button routerLink="/ingredients-list" class="btn btn-dark">Ingredients</a>
      <a mat-button routerLink="/shopping-list" class="btn btn-dark">Shopping List</a>
      <a mat-button routerLink="/about" class="btn btn-dark">About</a>
      <!-- <a mat-button routerLink="/user-profile" class="btn btn-dark">My Profile</a> -->
      
      <button mat-button (click)="signOut()" class="btn btn-dark">Sign-out</button>
    </div>
  </div>
</div>