.header {
    padding: calc(5px + 1vh) calc(10px + 1vw);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
}
.nav-bar {
    display: inline-block;
}
@media screen and (max-width: 767px) {
    .nav-bar {
        min-width: 80%;
    }
}
.title {
    color: white;
    font-size: calc(18px + 1vmin);
}
.title-button {
    padding: 0;
    min-width: calc(30px + 1vmin);
}
a:hover {
    text-decoration: none;
}
.nav-button {
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-button.selected {
    box-shadow: none !important;
}
.mobile-nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #00000079;
}
.mobile-nav {
    position: relative;
    width: fit-content;
    height: 100%;
    border-left: 2px solid grey;
    box-shadow: -10px 5px 30px 0px rgba(0,0,0,0.60);
    padding: 10px 20px;
    float: right;
    box-sizing: border-box;
}
.mobile-nav-button {
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #5a5a5a;
    border-radius: 0;
    text-align: start;
}
.mobile-nav-text {
    margin-left: 20px;
}
.mobile-nav-bottom {
    bottom: 10px;
    left: 20px;
    right: 20px;
    position: absolute;
}
.mobile-nav-bottom .mobile-nav-button {
    text-align: start;
}
