<div class="header">
  <div class="nav-bar">
    <div class="between">
      <a routerLink="/home" class="title">{{title}}</a>
      <span *ngIf="(isLoggedIn | async) && !(user | async)?.isPending" [@fadeInAnimation]>
        <button mat-button class="title-button" [matMenuTriggerFor]="profileMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu" style="width: fit-content">
          <a mat-menu-item routerLink="/profile/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </a>
          <a mat-menu-item routerLink="/profile/analytics">
            <mat-icon>bar_chart</mat-icon>
            <span>Analytics</span>
          </a>
        </mat-menu>
        
        <a mat-button class="title-button" routerLink="/admin/dashboard" *ngIf="(user | async)?.isAdmin">
          <mat-icon>apps</mat-icon>
        </a>
  
        <button mat-button class="d-md-none title-button float-right" (click)="toggleNav()" *ngIf="(isLoggedIn | async)">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
    </div>

    <div style="clear: both;"></div>

    <div class="desktop" *ngIf="(isLoggedIn | async) && !(user | async)?.isPending" [@fadeInAnimation]>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/home" [ngClass]="{'selected': route === '/home'}">Home</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/recipe/list" [ngClass]="{'selected': route === '/recipe/list'}">Recipes</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/ingredient/list" [ngClass]="{'selected': route === '/ingredient/list'}">Ingredients</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/shopping/list" [ngClass]="{'selected': route === '/shopping/list'}">Shopping List</a>
      <a mat-raised-button color="primary" class="nav-button" routerLink="/about" [ngClass]="{'selected': route === '/about'}">About</a>
      
      <button mat-raised-button color="primary" class="nav-button" (click)="signOut()">Sign-out</button>
    </div>

    <div class="mobile-nav-container mobile" *ngIf="(isLoggedIn | async) && !(user | async)?.isPending && showNav" (click)="toggleNav()" [@fadeInFastAnimation]>
      <div class="mobile-nav" [@slideInOutAnimation]>
        <a mat-button class="mobile-nav-button" routerLink="/home">
          <mat-icon>home</mat-icon>
          <span class="mobile-nav-text">Home</span>
        </a><br/>
        <a mat-button class="mobile-nav-button" routerLink="/recipe/list">
          <mat-icon>restaurant</mat-icon>
          <span class="mobile-nav-text">Recipes</span>
        </a><br/>
        <a mat-button class="mobile-nav-button" routerLink="/ingredient/list">
          <mat-icon>kitchen</mat-icon>
          <span class="mobile-nav-text">Ingredients</span>
        </a><br/>
        <a mat-button class="mobile-nav-button" routerLink="/shopping/list">
          <mat-icon>shopping_cart</mat-icon>
          <span class="mobile-nav-text">Shopping List</span>
        </a><br/>
        <a mat-button class="mobile-nav-button" routerLink="/about">
          <mat-icon>info</mat-icon>
          <span class="mobile-nav-text">About</span>
        </a><br/>
        
        <div class="mobile-nav-bottom">
          <button mat-button class="mobile-nav-button" style="border: none" (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="mobile-nav-text">Sign-out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>