.header {
    padding: 10px 15px;
    position: relative;
    top: 0;
}

.navbar {
    display: inline-block;
}


.title {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.title-bar {
    float: right;
}

.title-bar label {
    margin: 0;
    position: relative;
    padding-top: 10px;
}

a:hover {
    text-decoration: none;
}

.nav-button {
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// TODO: make this more obvious now
.nav-button:active, .nav-button:focus {
    box-shadow: none !important;
}