.header {
  background-image: var(--header);
  box-shadow: var(--shadow);
  padding: calc(5px + 1vh) 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .nav-bar {
    min-width: 95%;
  }
}
.title {
  color: white;
  font-size: calc(18px + 1vmin);
  line-height: 36px;
}
.title-button {
  padding: 0;
  min-width: calc(30px + 1vmin);
  line-height: 30px;
}
a:hover {
  text-decoration: none;
}
.nav-button {
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: none;
  box-shadow: none !important;
}
.nav-button:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.nav-button:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.nav-button.selected {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
  box-shadow: none !important;
}
.mobile-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #00000079;
}
.mobile-nav {
  position: relative;
  width: min-content;
  height: 100%;
  border-left: 1px solid var(--border);
  box-shadow: -10px 5px 30px 0px rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  float: right;
  box-sizing: border-box;
}
.mobile-nav-button {
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid var(--border);
  border-radius: 0;
  text-align: start;
  justify-content: start;
}
.mobile-nav-text {
  margin-left: 20px;
  text-wrap: nowrap;
}
.mobile-nav-bottom {
  bottom: 10px;
  left: 20px;
  right: 20px;
  position: absolute;
}
.mobile-nav-bottom .mobile-nav-button {
  text-align: start;
  border: none;
}
