.modal-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.4;
}

.modal-center {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container {
    position: relative;
    margin: 0 auto;
    top: 25%;
    width: 300px;
    background-image: linear-gradient(180deg, #373BA6, #212463);
    border-radius: 3px;
    border-width: 6px;
    border-style: solid;
    border-color: #343a40;
    padding: 20px;
}

.modal-text {
    font-size: 18px;
    color: white;
}
