.button-row {
  margin: 0 auto;
}
.mat-form-field {
  width: 100%;
}
.table-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);

  .mat-table,
  .mat-cell,
  .mat-header-cell {
    border-radius: var(--radius);
  }
  .mat-header-row {
    border-color: var(--border);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
  .mat-row {
    border-color: var(--border);

    &:first-of-type {
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
    }
    &:last-of-type {
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
  }
  .mat-button {
    padding: 0;
    min-width: 30px;
  }
}
.mobile-label {
  display: none;
}
.buy-icon {
  vertical-align: middle;
  font-size: 25px;
}
.table-col {
  width: 60px;
  text-align: center;
}
.quantity-block {
  margin: 0 10px;
}
.mat-row:last-child {
  border: none;
}
.mat-paginator {
  background: inherit;
}

@media screen and (max-width: 767px) {
  .mat-cell {
    width: 100%;
    display: block;
    min-height: 0;
  }
  .mat-cell:first-of-type,
  .mat-cell:last-of-type {
    padding: 0;
  }
  .mat-row:after {
    min-height: 0;
  }
  .mobile-label {
    display: inline;
  }
  .mobile-value {
    float: right;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
}
