<div class="row justify-content-center">
  <h2>
    Edit an Ingredient
  </h2>
</div>
<br/>

<app-loader *ngIf="loading" class="d-flex justify-content-center" style="margin-top: 100%;"></app-loader>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-fab color="primary" (click)="ingredientsDetail()">
      <mat-icon> arrow_back </mat-icon>
    </a>
  </div>

  <form [formGroup]="ingredientsForm" (ngSubmit)="onFormSubmit(ingredientsForm.value)">
    <mat-form-field class="form-field">
      <input matInput placeholder="Name" formControlName="name"
              [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('name').valid && ingredientsForm.get('name').touched">Please enter Ingredient Name</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Category" formControlName="category"
              [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('category').valid">Please enter a valid number for Ingredient Servings</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Calories" formControlName="calories"
              [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('calories').valid">Please enter a valid number for Ingredient Calories</span>
      </mat-error>
    </mat-form-field>

    <div class="button-row">
      <button type="submit" [disabled]="!ingredientsForm.valid" mat-fab color="primary">
        <mat-icon> save </mat-icon>
      </button>
    </div>
  </form>
</div>
