<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>Your Meal Planner</h2>

<div *ngIf="!loading">
  <form class="short-container item-form">
    <mat-form-field class="item-form-field">
      <mat-label>Add a Recipe</mat-label>
      <input
        matInput
        placeholder="ex. Cookies"
        [formControl]="recipeControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        autoActiveFirstOption
        (optionSelected)="addRecipe($event.option.value)"
      >
        <mat-option *ngFor="let recipe of filteredRecipes | async" [value]="recipe">
          {{ recipe.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="short-container">
    <div class="table-container mat-elevation-z8 box" *ngIf="mealPlan?.recipes.length > 0">
      <div class="table-row" *ngFor="let recipe of mealPlan.recipes">
        <a class="table-cell plain-link recipe-text" [routerLink]="['/recipe/detail/', recipe.id]">
          {{ recipe.name }}
        </a>

        <span class="action-buttons">
          <button mat-button matTooltip="Remove Recipe" (click)="removeRecipe(recipe.id)">
            <mat-icon>close</mat-icon>
          </button>

          <button
            mat-raised-button
            matTooltip="Add Ingredients"
            color="primary"
            (click)="addIngredients(recipe.id)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="short-container button-row" *ngIf="mealPlan?.recipes.length > 0">
    <app-tutorial-button />

    <button
      mat-button
      matTooltip="Add Ingredients to Shopping List"
      color="primary"
      (click)="addAllIngredients(false, true)"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>
</div>

<div class="text-center empty-block" *ngIf="!loading && mealPlan?.recipes.length === 0">
  <h4>Your meal plan doesn't have any recipes</h4>
  <app-tutorial-button />
</div>

<div class="text-center empty-block" *ngIf="!loading && !mealPlan">
  <h4>You have no meal plans</h4>
  <app-tutorial-button />
</div>
