<h4>UOM Table</h4>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>
                    <label for="uomValue">value: </label>
                    <input matInput type="number" id="uomValue" [value]="uomValue" [(ngModel)]="uomValue"/>
                </th>
                <th *ngFor="let uomColumn of uoms; let columnIndex = index;">to {{uomColumn}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let uomRow of uoms; let rowIndex = index;">
                <th>from {{uomRow}}</th>
                <td *ngFor="let uomColumn of uoms; let columnIndex = index;">{{convert(uomRow, uomColumn, uomValue)}}</td>
            </tr>
        </tbody>
    </table>
</div>
