<app-loading-modal *ngIf="loading"></app-loading-modal>

<div class="d-flex justify-content-center">
  <h2>
    {{this.title}}
  </h2>
</div>
<br/>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-fab color="primary" (click)="recipesDetail()" *ngIf="route.snapshot.params['id']">
      <mat-icon> arrow_back </mat-icon>
    </a>
    <a mat-fab color="primary" [routerLink]="['/recipes-list']" *ngIf="!route.snapshot.params['id']">
      <mat-icon> list </mat-icon>
    </a>
  </div>

  <form [formGroup]="recipesForm">
    <mat-form-field class="form-field">
      <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher"/>
      <mat-error>
        <span *ngIf="!recipesForm.get('name').valid && recipesForm.get('name').touched">Please enter Recipe Name</span>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="form-field">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Preparation Time (minutes)" formControlName="time" [errorStateMatcher]="matcher"/>
      <mat-error>
        <span *ngIf="!recipesForm.get('time').valid">Please enter a valid number for Recipe Preparation Time</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Servings" formControlName="servings" [errorStateMatcher]="matcher"/>
      <mat-error>
        <span *ngIf="!recipesForm.get('servings').valid">Please enter a valid number for Recipe Servings</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Calories" formControlName="calories" [errorStateMatcher]="matcher"/>
      <mat-error>
        <span *ngIf="!recipesForm.get('calories').valid">Please enter a valid number for Recipe Calories</span>
      </mat-error>
    </mat-form-field>

    <div formArrayName="steps">
      <div class="row" *ngFor="let step of recipesForm.controls.steps.controls; let i=index">
        <div class="col-2">
          <button mat-mini-fab color="secondary" type="button" (click)="addStep()" *ngIf="i == 0">
            <mat-icon> add </mat-icon>
          </button>
          <div style="padding: 20px;" *ngIf="i > 0"></div>
        </div>

        <div class="col-10 d-flex justify-content-center" [formGroupName]="i">
          <mat-form-field style="width: 80%;">
              <textarea matInput placeholder="Step: {{i + 1}}" formControlName="step"></textarea>
          </mat-form-field>
          <button mat-mini-fab style="margin-left: 20px;" color="secondary" type="button" *ngIf="recipesForm.controls.steps.controls.length > 1" (click)="removeStep(i)">
            <mat-icon> close </mat-icon>
          </button>
          <div style="margin-left: 20px; padding: 20px;" *ngIf="recipesForm.controls.steps.controls.length == 1"></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8" style="min-width: 350px; max-width: 450px;">
        <h3>
          Added Ingredients
        </h3>
    
        <div class="list" cdkDropList #addedList="cdkDropList" [cdkDropListData]="addedIngredients"
            [cdkDropListConnectedTo]="[availableList]" (cdkDropListDropped)="drop($event)" style="margin-bottom: 20px;">
          <div class="box" *ngFor="let ingredient of addedIngredients" cdkDrag>
            <span class="col-5">
              <label> {{ingredient.name}} </label>
            </span>
            <span class="col-2">
              <button mat-button class="btn btn-dark buy-button" (click)="removeIngredient(ingredient.id)">
                <mat-icon class="buy-icon"> remove </mat-icon>
              </button>
            </span>
            <span class="col-3">
              <span>
                  {{ingredient.quantity}} {{ingredient.uom === 'other'? '' : ingredient.uom}}
              </span>
            </span>
            <span class="col-2">
              <button mat-button class="btn btn-dark buy-button" (click)="addIngredient(ingredient.id)">
                <mat-icon class="buy-icon"> add </mat-icon>
              </button>
            </span>
          </div>
          <div class="box" *ngIf="addedIngredients.length == 0">
            No Ingredients
          </div>
        </div>
      </div>
    
      <div class="col-4" style="min-width: 150px">
        <h3>
          Available Ingredients
        </h3>
    
        <div class="list" cdkDropList #availableList="cdkDropList" [cdkDropListData]="availableIngredients"
            [cdkDropListConnectedTo]="addedList" (cdkDropListDropped)="drop($event)">
          <div class="box" *ngFor="let ingredient of availableIngredients" cdkDrag>
            {{ingredient.name}}
          </div>
          <div class="box" *ngIf="availableIngredients == 0">
            No Ingredients
          </div>
        </div>
      </div>
    </div>

    <div class="button-row">
      <button mat-fab type="button" [disabled]="!recipesForm.valid" color="primary" (click)="submitForm()">
        <mat-icon> save </mat-icon>
      </button>
    </div>
  </form>
</div>
