<app-loading-modal *ngIf="loading"></app-loading-modal>

<div class="d-flex justify-content-center">
  <h2>
    {{this.title}}
  </h2>
</div>
<br/>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-fab color="primary" (click)="ingredientsDetail()" *ngIf="route.snapshot.params['id']">
      <mat-icon> arrow_back </mat-icon>
    </a>
    <a mat-fab color="primary" [routerLink]="['/ingredients-list']" *ngIf="!route.snapshot.params['id']">
      <mat-icon> list </mat-icon>
    </a>
  </div>

  <form [formGroup]="ingredientsForm" (ngSubmit)="onFormSubmit(ingredientsForm.value)">
    <mat-form-field class="form-field">
      <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('name').valid && ingredientsForm.get('name').touched">Please enter Ingredient Name</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Category" formControlName="category" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('category').valid">Please enter a valid number for Ingredient Servings</span>
      </mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field class="col-8">
        <input matInput placeholder="Amount" formControlName="amount" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!ingredientsForm.get('amount').valid && ingredientsForm.get('amount').touched">Please enter a valid number for Ingredient Amount</span>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="col-4" style="min-width: 200px;">
        <mat-label> Unit of Measurement </mat-label>
        <mat-select formControlName="uom">
          <mat-option *ngFor="let measurement of uom" [value]="measurement">
            {{measurement}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!ingredientsForm.get('uom').valid && ingredientsForm.get('uom').touched">Please enter a valid Unit of Measurement</span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="form-field">
      <input matInput placeholder="Calories" formControlName="calories" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!ingredientsForm.get('calories').valid">Please enter a valid number for Ingredient Calories</span>
      </mat-error>
    </mat-form-field>

    <div class="button-row">
      <button mat-fab type="submit" [disabled]="!ingredientsForm.valid" color="primary">
        <mat-icon> save </mat-icon>
      </button>
    </div>
  </form>
</div>
