<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-validation-modal [validationModalParams]="validationModalParams"></app-validation-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div class="d-flex justify-content-center">
  <h2>
    The Items
  </h2>
</div>
<br/>

<div [hidden]="loading">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"/>
    <mat-placeholder>
      <mat-icon>search</mat-icon>
    </mat-placeholder>
  </mat-form-field>

  <div class="table-container mat-elevation-z8"> 
    <mat-accordion #accordion="matAccordion" multi>
      <mat-table #table [dataSource]="dataSource" multiTemplateDataRows style="width: 100%;" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Name:</span>
            <span class="mobile-value">{{element.name}}</span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="cartQuantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>List Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <span class="mobile-label">List Quantity:</span>
            <span class="mobile-value">
              <button mat-button (click)="removeItem(element.id)">
                <mat-icon class="buy-icon">arrow_left</mat-icon>
              </button>
              <span style="margin: 0 10px;">
                <label class="table-col">
                  {{element.cartQuantity || 0}}
                </label>
              </span>
              <button mat-button (click)="addItem(element.id)">
                <mat-icon class="buy-icon">arrow_right</mat-icon>
              </button>
            </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Remove:</span>
            <span class="mobile-value">
              <button mat-button color="warn" (click)="deleteItem(element.id, element.name)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-value">
              <mat-expansion-panel style="box-shadow: none; border-radius: 0;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Edit item
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="detail-form" [formGroup]="element.form" (ngSubmit)="onFormSubmit(element.form.value, element.id)">
                  <mat-form-field class="form-field">
                    <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" value="{{element.name}}">
                    <mat-error>
                      <span *ngIf="!element.form.get('name').valid && element.form.get('name').touched">Please enter an Item Name</span>
                    </mat-error>
                  </mat-form-field>

                  <div class="button-row">
                    <button mat-mini-fab matTooltip="Save Item" type="submit" [disabled]="!element.form.valid" color="primary">
                      <mat-icon>done</mat-icon>
                    </button>
                  </div>
                </form>
              </mat-expansion-panel>
            </span>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>
            <mat-expansion-panel style="box-shadow: none; border-radius: 0;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Add item
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="detail-form" [formGroup]="itemForm" (ngSubmit)="onFormSubmit(itemForm.value)">
                <mat-form-field class="form-field">
                  <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                  <mat-error>
                    <span *ngIf="!itemForm.get('name').valid && itemForm.get('name').touched">Please enter an Item Name</span>
                  </mat-error>
                </mat-form-field>

                <div class="button-row">
                  <button mat-mini-fab matTooltip="Save Item" type="submit" [disabled]="!itemForm.valid" color="primary">
                    <mat-icon>done</mat-icon>
                  </button>
                </div>
              </form>
            </mat-expansion-panel>
          </mat-footer-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
      </mat-table>
    </mat-accordion>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
  