.about-container {
    /* background-color: #ECEFF1; */
    background-color: #039BE5;
    /* background-color: #2C384A; */
    /* background-image: linear-gradient(90deg, #2C384A, #039BE5 ); */
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.63);
    padding: 20px;
}

.logo {
    height: 300px;
}

.about-text {
    font-size: 18px;
    color: white;
}
