<div class="d-flex justify-content-center">
  <h3>
    The Cookbook?
  </h3>
</div>
<br/>

<div class="about-container">
  <div class="d-flex justify-content-center">
    <p>
      A place for keeping track of all your recipes!
    </p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <img class="logo" src="../../assets/angular.png">
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img class="logo" src="../../assets/Firebase_Logo_Logomark.png">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <p>Built with Angular</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <p>Built with Firebase</p>
    </div>
  </div>
</div>
