<div class="d-flex justify-content-center">
  <h2>The Cookbook?</h2>
</div>
<br/>

<div class="highlight-box mat-elevation-z8">
  <div class="d-flex justify-content-center">
    <span class="about-text">
      A place for keeping track of all your recipes!
    </span>
  </div>
  <br/>

  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <figure>
        <img class="logo" src="../../assets/angular.png"/>
        <figcaption class="d-flex justify-content-center">
          <span class="about-text">Built with Angular</span>
        </figcaption>
      </figure>
      <br/>
      
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <figure>
        <img class="logo" src="../../assets/Firebase_Logo_Logomark.png"/>
        <figcaption class="d-flex justify-content-center">
          <span class="about-text">Built with Firebase</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
