.highlight-box {
  padding: 20px;
  border-radius: 4px;
}
.logo {
  height: 300px;
}
.about-text {
  font-size: 18px;
  color: white;
  text-align: center;
}
.link-text {
  color: lightgray;
  text-decoration: none;
}
.link-text:hover {
  color: grey;
}
