<div class="d-flex justify-content-center">
  <h3>
    The Cookbook?
  </h3>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    A place for keeping track of all your recipes!
  </p>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <img class="logo" src="../../assets/angular.png">
  </div>
  <div class="col-md-6">
    <img class="logo" src="../../assets/firebase_96dp.png">
    <!-- <img class="logo" src="../../assets/logo-standard.png"> -->
  </div>
</div>
