<app-modal [params]="params">
    <h4>Select Ingredients</h4>
    <div class="ingredient-list">
        <div *ngFor="let ingredient of params?.ingredients">
            <mat-checkbox class="mat-menu-item" [(ngModel)]="ingredient.selected" (change)="select(ingredient.selected)" *ngIf="ingredient.name">
                {{ingredient.name}}
            </mat-checkbox>
        </div>
    </div>
    <div class="center">
        <button mat-raised-button color="primary" (click)="add()" style="margin-right: 20px;">
            Add {{selectionCount === 0 ? 'All' : '(' + selectionCount + ')'}}
        </button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
</app-modal>
