<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>{{ this.title }}</h2>

<div *ngIf="!loading">
  <form
    [formGroup]="ingredientsForm"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
    appFormValidation
  >
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="ex. Flour"
        formControlName="name"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error>
        <span *ngIf="!ingredientsForm.get('name')?.valid && ingredientsForm.get('name')?.touched">
          Please enter Ingredient Name
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.displayValue }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span
          *ngIf="
            !ingredientsForm.get('category')?.valid && ingredientsForm.get('category')?.touched
          "
        >
          Please enter a valid number for Ingredient Category
        </span>
      </mat-error>
    </mat-form-field>

    <div class="container">
      <mat-form-field>
        <mat-label>Volume Amount</mat-label>
        <input
          matInput
          placeholder="ex. 1.5"
          formControlName="amount"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="!ingredientsForm.get('amount')?.valid && ingredientsForm.get('amount')?.touched"
          >
            Please enter a valid number for Ingredient Volume Amount
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Volume Unit of Measurement</mat-label>
        <mat-select formControlName="uom">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let uom of volumeUnits" [value]="uom">
            {{ uom }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!ingredientsForm.get('uom')?.valid && ingredientsForm.get('uom')?.touched">
            Please enter a valid Volume Unit of Measurement
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Weight Amount</mat-label>
        <input
          matInput
          placeholder="ex. 1/4"
          formControlName="altAmount"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !ingredientsForm.get('altAmount')?.valid && ingredientsForm.get('altAmount')?.touched
            "
          >
            Please enter a valid number for Ingredient Weight Amount
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Weight Unit of Measurement</mat-label>
        <mat-select formControlName="altUOM">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let uom of weightUnits" [value]="uom">
            {{ uom }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span
            *ngIf="!ingredientsForm.get('altUOM')?.valid && ingredientsForm.get('altUOM')?.touched"
          >
            Please enter a valid Weight Unit of Measurement
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="form-field">
      <mat-label>Buyable Unit of Measurement</mat-label>
      <mat-select formControlName="buyableUOM" (selectionChange)="onBuyableSelect()" required>
        <mat-option *ngFor="let option of buyableOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span
          *ngIf="
            !ingredientsForm.get('buyableUOM')?.valid && ingredientsForm.get('buyableUOM')?.touched
          "
        >
          Please select a valid option for Ingredient Buyable Unit of Measurement
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Calories</mat-label>
      <input
        matInput
        placeholder="ex. 160"
        formControlName="calories"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <span *ngIf="!ingredientsForm.get('calories')?.valid">
          Please enter a valid number for Ingredient Calories
        </span>
      </mat-error>
    </mat-form-field>

    <div class="button-row between">
      <div *ngIf="!isQuickView">
        <a
          mat-button
          matTooltip="Back"
          color="primary"
          [routerLink]="['/ingredient/detail/', id]"
          *ngIf="id"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-button
          matTooltip="Grocery Items List"
          color="primary"
          routerLink="/ingredient/list"
          *ngIf="!id"
        >
          <mat-icon>list</mat-icon>
        </a>
        <app-tutorial-button />
      </div>
      <span *ngIf="isQuickView"></span>

      <button mat-button matTooltip="Save Ingredient" type="submit" color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </form>
</div>
