<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>{{ this.title }}</h2>

<div *ngIf="!loading">
  <form
    [formGroup]="ingredientsForm"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
    appFormValidation
  >
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Name"
        formControlName="name"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error>
        <span *ngIf="!ingredientsForm.get('name').valid && ingredientsForm.get('name').touched">
          Please enter Ingredient Name
        </span>
      </mat-error>
    </mat-form-field>

    <div class="container">
      <mat-form-field>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          [errorStateMatcher]="matcher"
          required
        />
        <mat-error>
          <span
            *ngIf="!ingredientsForm.get('amount').valid && ingredientsForm.get('amount').touched"
          >
            Please enter a valid number for Ingredient Amount
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unit of Measurement</mat-label>
        <mat-select formControlName="uom" required>
          <mat-option *ngFor="let uom of uoms" [value]="uom">
            {{ uom }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!ingredientsForm.get('uom').valid && ingredientsForm.get('uom').touched">
            Please enter a valid Unit of Measurement
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.displayValue }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span
          *ngIf="!ingredientsForm.get('category').valid && ingredientsForm.get('category').touched"
        >
          Please enter a valid number for Ingredient Category
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Calories"
        formControlName="calories"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <span *ngIf="!ingredientsForm.get('calories').valid">
          Please enter a valid number for Ingredient Calories
        </span>
      </mat-error>
    </mat-form-field>

    <div class="alt-amount">
      <mat-checkbox class="mat-menu-item" [checked]="hasAlternative" (change)="select()">
        Alternative Amount?
      </mat-checkbox>
      <mat-icon
        matTooltip="An Alternative Amount is displayed on the Shopping List instead of the regular Amount. This should be used when an ingredient's usable UOM (on a recipe) differs from it's buyable UOM (on the packaging)"
      >
        info_i
      </mat-icon>
    </div>

    <div class="container" *ngIf="hasAlternative">
      <mat-form-field>
        <input
          matInput
          placeholder="Alternative Amount"
          formControlName="altAmount"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !ingredientsForm.get('altAmount').valid && ingredientsForm.get('altAmount').touched
            "
          >
            Please enter a valid number for Ingredient Alternative Amount
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alternative Unit of Measurement</mat-label>
        <mat-select formControlName="altUOM">
          <mat-option *ngFor="let uom of uoms" [value]="uom">
            {{ uom }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span
            *ngIf="!ingredientsForm.get('altUOM').valid && ingredientsForm.get('altUOM').touched"
          >
            Please enter a valid Alternative Unit of Measurement
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-row between">
      <div *ngIf="!isQuickView">
        <a
          mat-button
          matTooltip="Back"
          color="primary"
          [routerLink]="['/ingredient/detail/', id]"
          *ngIf="id"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-button
          matTooltip="Grocery Items List"
          color="primary"
          routerLink="/ingredient/list"
          *ngIf="!id"
        >
          <mat-icon>list</mat-icon>
        </a>
        <app-tutorial-button />
      </div>
      <span *ngIf="isQuickView"></span>

      <button mat-button matTooltip="Save Ingredient" type="submit" color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </form>
</div>
