@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();

:root {
  --shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
  --highlight-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.1), 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
  --radius: 4px;
}

//light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-warn: mat.define-palette(mat.$orange-palette);
$light-mat-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.light {
  @include mat.all-component-themes($light-mat-theme);

  --header: linear-gradient(-45deg, #373ba6, #212463);
  --footer: linear-gradient(45deg, #373ba6, #212463);
  --modal: linear-gradient(180deg, #ffffff, #f5f5f5);
  --highlight: linear-gradient(120deg, #373ba6, #212463);
  --highlight-inverse: linear-gradient(-45deg, #373ba6, #212463);
  --page: #f5f5f5;
  --block: #ffffff;
  --text: #111111;
  --border: #bdbdbd;
}

// dark theme
$dark-primary: mat.define-palette(mat.$blue-palette);
$dark-accent: mat.define-palette(mat.$indigo-palette, 300);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-mat-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.dark {
  @include mat.all-component-colors($dark-mat-theme);

  --header: linear-gradient(60deg, #029ef5 -10%, #473873 90%);
  --footer: linear-gradient(-60deg, #029ef5 -10%, #473873 90%);
  --modal: linear-gradient(180deg, #373ba6, #212463);
  --highlight: linear-gradient(120deg, #029ef5 -80%, #473873 80%);
  --highlight-inverse: linear-gradient(-45deg, #029ef5 -80%, #473873 80%);
  --page: #252525;
  --block: #3d3d3d;
  --text: #dddddd;
  --border: #5e5e5e;
}
