@import '~@angular/material/theming';
@include mat-core();

@mixin theme($theme) {
    .header {
        background-image: map-get($theme, "header-background");
    }
    .page {
        background-color: map-get($theme, "page-background");
        color: map-get($theme, "text-color");
    }
    .list, .box {
        background-color: map-get($theme, "block-background");
    }
    .highlight-box {
        background-color: map-get($theme, "highlight-background");
    }
    .footer {
        background-image: map-get($theme, "footer-background");
    }
}

//light theme
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink);
$light-mat-theme: mat-light-theme($light-primary, $light-accent);

$light-theme: (
    header-background: linear-gradient(-45deg, #373BA6, #212463),
    page-background: lightgray,
    text-color: black,
    block-background: #dddddd,
    highlight-background: #373BA6,
    footer-background: linear-gradient(45deg, #373BA6, #212463)
);

@include angular-material-theme($light-mat-theme);
@include mat-button-theme($light-mat-theme);
@include theme($light-theme);

// dark theme
$dark-primary: mat-palette($mat-blue);
$dark-accent: mat-palette($mat-amber);
$dark-warn: mat-palette($mat-red);
$dark-mat-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// TODO: make colors auto refresh, think about using cookies to keep up with theme for default
$dark-theme: (
    header-background: linear-gradient(-45deg, #04469c, #02258d),
    page-background: #444444,
    text-color: #dddddd,
    block-background: #444444,
    highlight-background: #04469c,
    footer-background: linear-gradient(45deg, #04469c, #02258d)
);

.dark {
    @include angular-material-theme($dark-mat-theme);
    @include mat-button-theme($dark-mat-theme);
    @include theme($dark-theme);
}
