<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>{{ this.title }}</h2>

<div *ngIf="!loading">
  <form
    [formGroup]="recipesForm"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit($event.submitter.name)"
    appFormValidation
    [stepperOnSubmit]="stepperOnSubmit"
  >
    <ng-template #recipeStep>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          [errorStateMatcher]="matcher"
          required
        />
        <mat-error>
          <span
            *ngIf="
              !recipesForm.get('name').valid &&
              recipesForm.get('name').touched &&
              !recipesForm.get('name').errors?.wrongCase
            "
          >
            Please enter Recipe Name
          </span>
          <span
            *ngIf="
              !recipesForm.get('name').valid &&
              recipesForm.get('name').touched &&
              recipesForm.get('name').errors?.wrongCase
            "
          >
            Recipe Name is not in title case: {{ recipesForm.get('name').errors?.wrongCase }}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Link" formControlName="link" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error>
          <span
            *ngIf="!recipesForm.get('description').valid && recipesForm.get('description').touched"
          >
            Please enter valid sentences
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Preparation Time"
          formControlName="time"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span *ngIf="!recipesForm.get('time').valid && recipesForm.get('time').touched">
            Please enter a Recipe Preparation Time
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Servings"
          formControlName="servings"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span *ngIf="!recipesForm.get('servings').valid">
            Please enter a valid number for Recipe Servings
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-field">
        <h6>Dietary Restrictions</h6>

        <div class="restrictions">
          <span>
            <mat-label>Vegetarian?</mat-label>
            <mat-checkbox formControlName="isVegetarian"></mat-checkbox>
          </span>

          <span>
            <mat-label>Vegan?</mat-label>
            <mat-checkbox formControlName="isVegan"></mat-checkbox>
          </span>

          <span>
            <mat-label>Gluten Free?</mat-label>
            <mat-checkbox formControlName="isGlutenFree"></mat-checkbox>
          </span>

          <span>
            <mat-label>Dairy Free?</mat-label>
            <mat-checkbox formControlName="isDairyFree"></mat-checkbox>
          </span>
        </div>
      </div>

      <mat-form-field class="form-field">
        <mat-chip-grid #categoryList>
          <mat-chip-row
            *ngFor="let category of recipesForm.get('categories')['controls']; let i = index"
            (removed)="removeCategory(i)"
          >
            {{ category.value.category }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
          <input
            #categoryInput
            placeholder="Categories"
            [formControl]="categoryControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="categoryList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addCategoryEvent($event.value)"
          />

          <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption
            (optionSelected)="addCategoryEvent($event.option.value)"
          >
            <mat-option
              *ngFor="let category of recipeCategories | async"
              [value]="category"
              (mousedown)="$event.preventDefault()"
            >
              {{ category }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-grid>
      </mat-form-field>
    </ng-template>

    <ng-template #ingredientsStep>
      <div class="ingredients center">
        <div class="list-container">
          <h3>Added Ingredients</h3>

          <div
            id="added-ingredients-div"
            formArrayName="ingredients"
            class="list"
            cdkDropList
            #addedList="cdkDropList"
            [cdkDropListData]="addedIngredients"
            [cdkDropListConnectedTo]="[availableList]"
            (cdkDropListDropped)="dropAdded($event)"
          >
            <div
              class="container box"
              *ngFor="let ingredient of recipesForm.get('ingredients')['controls']; let i = index"
              cdkDrag
              [cdkDragData]="ingredient.value"
              [formGroupName]="i"
            >
              <mat-label class="ingredient-name">
                {{ ingredient.get('name') ? ingredient.get('name').value : '' }}
                <mat-icon
                  class="indicator"
                  matTooltip="This is a recipe"
                  *ngIf="ingredient.get('uom').value === 'recipe'"
                >
                  r_mobiledata
                </mat-icon>
              </mat-label>
              <div class="between">
                <div>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="QTY"
                      formControlName="quantity"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-error *ngIf="!ingredient.get('quantity').valid">
                      <span>Invalid</span>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field
                    *ngIf="
                      ingredient.get('uom').value !== 'other' &&
                      ingredient.get('uom').value !== 'recipe'
                    "
                  >
                    <mat-select
                      placeholder="UOM"
                      formControlName="uom"
                      [errorStateMatcher]="matcher"
                    >
                      <mat-option
                        *ngFor="
                          let uom of getUOMs(
                            ingredient.get('volumeUnit').value,
                            ingredient.get('weightUnit').value
                          )
                        "
                        [value]="uom"
                      >
                        {{ uom }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="optional-toggle">
                  <mat-label>Optional?</mat-label>
                  <mat-checkbox formControlName="isOptional"></mat-checkbox>
                </div>
              </div>
              <mat-icon class="box-icon">drag_indicator</mat-icon>
            </div>
            <div class="container box box-bottom" *ngIf="addedIngredients.length === 0">
              <mat-label class="ingredient-name">
                No Ingredients
                <br />
                (Try dragging from Available Ingredients)
              </mat-label>
            </div>
          </div>
        </div>

        <div class="swap-icon desktop">
          <mat-icon
            matTooltip="Drag and drop ingredients between the Available Ingredients list and the Added Ingredients list"
          >
            swap_horiz
          </mat-icon>
        </div>

        <div class="center swap-icon-mobile mobile">
          <mat-icon
            matTooltip="Drag and drop ingredients between the Available Ingredients list and the Added Ingredients list"
          >
            swap_vert
          </mat-icon>
        </div>

        <div class="list-container">
          <div class="between">
            <h3>Available Ingredients</h3>
            <app-ingredient-quick-create></app-ingredient-quick-create>
          </div>

          <mat-form-field>
            <input matInput (keyup)="applyIngredientFilter($event.target.value)" />
            <mat-placeholder>
              <mat-icon>search</mat-icon>
            </mat-placeholder>
          </mat-form-field>

          <div
            id="available-ingredients-div"
            class="list"
            cdkDropList
            #availableList="cdkDropList"
            [cdkDropListData]="availableIngredients"
            [cdkDropListConnectedTo]="addedList"
            (cdkDropListDropped)="dropAvailable($event)"
          >
            <div
              class="box box-bottom"
              *ngFor="let ingredient of availableIngredients"
              cdkDrag
              [cdkDragData]="ingredient"
            >
              <mat-label class="ingredient-name col-12">
                {{ ingredient.name }}
                <mat-icon
                  class="indicator"
                  matTooltip="This is a recipe"
                  *ngIf="ingredient.uom === 'recipe'"
                >
                  r_mobiledata
                </mat-icon>
              </mat-label>
              <mat-icon class="box-icon">drag_indicator</mat-icon>
            </div>
            <div class="box box-bottom" *ngIf="availableIngredients.length === 0">
              <mat-label class="ingredient-name col-12">No Ingredients</mat-label>
            </div>
          </div>
        </div>
      </div>
      <app-uom-table></app-uom-table>
    </ng-template>

    <ng-template #stepsStep>
      <div
        formArrayName="steps"
        id="recipe-steps-div"
        cdkDropList
        [cdkDropListData]="recipesForm.get('steps')"
        (cdkDropListDropped)="dropStep($event)"
      >
        <div
          class="container step-box"
          *ngFor="let step of recipesForm.get('steps')['controls']; let i = index"
          cdkDrag
          [cdkDragData]="step"
          cdkDragBoundary="#recipe-steps-div"
        >
          <div class="center steps" [formGroupName]="i">
            <mat-icon class="box-icon" cdkDragHandle>drag_indicator</mat-icon>
            <mat-form-field *ngIf="step.get('step')">
              <textarea
                matInput
                placeholder="Step {{ i + 1 }}"
                rows="3"
                formControlName="step"
              ></textarea>
              <mat-error>
                <span *ngIf="!step.valid && step.touched">Please enter valid sentences</span>
              </mat-error>
            </mat-form-field>
            <div class="recipe-ingredient-steps" *ngIf="step.get('recipeId')">
              The directions for {{ step.get('recipeName').value }} will be automatically placed
              here.
            </div>
            <button mat-button matTooltip="Remove Step" type="button" (click)="removeStep(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="button-row recipe-steps-button-row" *ngIf="recipeAsIngredients?.length">
        <button
          mat-button
          matTooltip="Add Step"
          color="accent"
          type="button"
          (click)="addStep(recipe.id, recipe.name)"
          *ngFor="let recipe of recipeAsIngredients"
        >
          Add directions for {{ recipe.name }}
        </button>
      </div>

      <div class="button-row">
        <button mat-button matTooltip="Add Step" color="primary" type="button" (click)="addStep()">
          Add Step
        </button>
      </div>
    </ng-template>

    <mat-stepper
      [orientation]="(stepperOrientation | async)!"
      #stepper
      [selectedIndex]="selectedIndex"
    >
      <mat-step [editable]="true">
        <ng-template matStepLabel>Information</ng-template>

        <ng-container *ngTemplateOutlet="recipeStep"></ng-container>

        <div class="stepper-button-row">
          <button mat-button type="button" (click)="resetForm(formDirective)">Undo</button>
          <button mat-button matStepperNext type="button">Next</button>
          <button mat-button type="submit" name="New">Save &#38; New</button>
          <button mat-button type="submit" name="Save">Save</button>
        </div>
      </mat-step>

      <mat-step [editable]="true">
        <ng-template matStepLabel>Ingredients</ng-template>

        <ng-container *ngTemplateOutlet="ingredientsStep"></ng-container>

        <div class="stepper-button-row">
          <button mat-button type="button" (click)="resetForm(formDirective)">Undo</button>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button type="submit" name="New">Save &#38; New</button>
          <button mat-button type="submit" name="Save">Save</button>
        </div>
      </mat-step>

      <mat-step [editable]="true">
        <ng-template matStepLabel>Directions</ng-template>

        <ng-container *ngTemplateOutlet="stepsStep"></ng-container>

        <div class="stepper-button-row">
          <button mat-button type="button" (click)="resetForm(formDirective)">Undo</button>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
          <button mat-button type="submit" name="New">Save &#38; New</button>
          <button mat-button type="submit" name="Save">Save</button>
        </div>
      </mat-step>
    </mat-stepper>

    <div class="button-row between">
      <div>
        <a
          mat-button
          matTooltip="Back"
          color="primary"
          [routerLink]="['/recipe/detail/', recipe.id]"
          *ngIf="id"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-button
          matTooltip="Recipes List"
          color="primary"
          routerLink="/recipe/list"
          *ngIf="!id"
        >
          <mat-icon>list</mat-icon>
        </a>
        <app-tutorial-button />
      </div>

      <button mat-button matTooltip="Save Recipe" type="submit" name="Save" color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </form>
</div>
