<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>{{this.title}}</h2>

<div *ngIf="!loading">
  <form [formGroup]="recipesForm">
    <ng-template #recipeStep>
      <mat-form-field class="form-field">
        <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" required/>
        <mat-error>
          <span *ngIf="!recipesForm.get('name').valid && recipesForm.get('name').touched && !recipesForm.get('name').errors?.wrongCase">Please enter Recipe Name</span>
          <span *ngIf="!recipesForm.get('name').valid && recipesForm.get('name').touched && recipesForm.get('name').errors?.wrongCase">Recipe Name is not in title case: {{recipesForm.get('name').errors?.wrongCase}}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Link" formControlName="link"/>
      </mat-form-field>
      
      <mat-form-field class="form-field">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput placeholder="Preparation Time" formControlName="time" [errorStateMatcher]="matcher"/>
        <mat-error>
          <span *ngIf="!recipesForm.get('time').valid && recipesForm.get('time').touched">Please enter a Recipe Preparation Time</span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput placeholder="Servings" formControlName="servings" [errorStateMatcher]="matcher"/>
        <mat-error>
          <span *ngIf="!recipesForm.get('servings').valid">Please enter a valid number for Recipe Servings</span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput placeholder="Calories" formControlName="calories" [errorStateMatcher]="matcher"/>
        <mat-error>
          <span *ngIf="!recipesForm.get('calories').valid">Please enter a valid number for Recipe Calories</span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-chip-list #categoryList>
          <mat-chip *ngFor="let category of recipesForm.get('categories')['controls']; let i = index" [selectable]="selectable" (removed)="removeCategory(i)">
            {{category.value.category}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Categories"
                [matChipInputFor]="categoryList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addCategoryEvent($event)">
        </mat-chip-list>
      </mat-form-field>
    </ng-template>
  
    <ng-template #stepsStep>
      <div formArrayName="steps">
        <button mat-mini-fab matTooltip="Add Step" color="secondary" type="button" (click)="addStep()">
          <mat-icon>add</mat-icon>
        </button>
        <div class="mobile" style="margin-bottom: 20px;"></div>

        <div *ngFor="let step of recipesForm.get('steps')['controls']; let i = index">
          <div class="center" [formGroupName]="i">
            <mat-form-field style="width: 80%;">
                <textarea matInput placeholder="Step: {{i + 1}}" formControlName="step"></textarea>
            </mat-form-field>
            <button mat-mini-fab matTooltip="Remove Step" style="margin-left: 20px;" color="secondary" type="button" (click)="removeStep(i)">
              <mat-icon>close</mat-icon>
            </button>
            <div style="margin-left: 20px; padding: 20px;" *ngIf="recipesForm.get('steps')['controls'].length === 1"></div>
          </div>
        </div>
      </div>
    </ng-template>
  
    <ng-template #ingredientsStep>
      <div class="container center">
        <div class="list-container">
          <h3>Added Ingredients</h3>
      
          <div formArrayName="ingredients" class="list" cdkDropList #addedList="cdkDropList" [cdkDropListData]="addedIngredients"
          [cdkDropListConnectedTo]="[availableList]" (cdkDropListDropped)="dropAdded($event)" style="margin-bottom: 20px;">
            <div class="container box" *ngFor="let ingredient of recipesForm.get('ingredients')['controls']; let i = index"
                cdkDrag [cdkDragData]="ingredient.value" [formGroupName]="i">
              <mat-label>
                {{ingredient.get('name')? ingredient.get('name').value : ''}}
                <mat-icon class="indicator" matTooltip="This is a recipe" *ngIf="ingredient.get('uom').value === 'recipe'">r_mobiledata</mat-icon>
              </mat-label>
              <mat-form-field>
                <input matInput placeholder="QTY" formControlName="quantity" [errorStateMatcher]="matcher"/>
                <mat-error *ngIf="!ingredient.get('quantity').valid">
                  <span>Invalid</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="ingredient.get('uom').value !== 'other' && ingredient.get('uom').value !== 'recipe'">
                <mat-select placeholder="UOM" formControlName="uom" [errorStateMatcher]="matcher">
                  <mat-option *ngFor="let uom of getUOMs(ingredient.get('uom').value)" [value]="uom">{{uom}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="container box box-bottom" *ngIf="addedIngredients.length === 0">
              <mat-label>No Ingredients</mat-label>
            </div>
          </div>
        </div>

        <div class="list-container">
          <div class="between">
            <h3>Available Ingredients</h3>
            <app-ingredient-quick-create></app-ingredient-quick-create>
          </div>

          <mat-form-field style="width: 100%;">
            <input matInput (keyup)="applyIngredientFilter($event.target.value)"/>
            <mat-placeholder>
              <mat-icon>search</mat-icon>
            </mat-placeholder>
          </mat-form-field>

          <div class="list" cdkDropList #availableList="cdkDropList" [cdkDropListData]="availableIngredients"
              [cdkDropListConnectedTo]="addedList" (cdkDropListDropped)="dropAvailable($event)">
            <div class="box box-bottom" *ngFor="let ingredient of availableIngredients" cdkDrag [cdkDragData]="ingredient">
              <mat-label class="col-12">
                {{ingredient.name}}
                <mat-icon class="indicator" matTooltip="This is a recipe" *ngIf="ingredient.uom === 'recipe'">r_mobiledata</mat-icon>
              </mat-label>
            </div>
            <div class="box box-bottom" *ngIf="availableIngredients.length === 0">
              <mat-label class="col-12">No Ingredients</mat-label>
            </div>
          </div>
        </div>
      </div>
      <app-uom-table></app-uom-table>
    </ng-template>
  </form>

  <mat-stepper [orientation]="(stepperOrientation | async)!">
    <mat-step [editable]="true">
      <ng-template matStepLabel>Information</ng-template>

      <ng-container *ngTemplateOutlet="recipeStep"></ng-container>

      <div class="stepper-button-row">
        <button mat-button matStepperNext type="button">Next</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(true)">Save &#38; New</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(false)">Save</button>
      </div>
    </mat-step>
    
    <mat-step [editable]="true">
      <ng-template matStepLabel>Steps</ng-template>

      <ng-container *ngTemplateOutlet="stepsStep"></ng-container>

      <div class="stepper-button-row">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(true)">Save &#38; New</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(false)">Save</button>
      </div>
    </mat-step>

    <mat-step [editable]="true">
      <ng-template matStepLabel>Ingredients</ng-template>

      <ng-container *ngTemplateOutlet="ingredientsStep"></ng-container>

      <div class="stepper-button-row">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(true)">Save &#38; New</button>
        <button mat-button type="button" [disabled]="!recipesForm.valid" (click)="submitForm(false)">Save</button>
      </div>
    </mat-step>
  </mat-stepper>

  <div class="button-row">
    <a mat-mini-fab matTooltip="Back" color="primary" [routerLink]="['/recipe/detail/', recipe.id]" *ngIf="id">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <a mat-mini-fab matTooltip="Recipes List" color="primary" routerLink="/recipe/list" *ngIf="!id">
      <mat-icon>list</mat-icon>
    </a>
    <button mat-mini-fab matTooltip="Tutorial" color="primary" (click)="openTutorial()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</div>
