.form-field {
  width: 100%;
}
td {
  justify-content: center;
}
.buy-icon {
  vertical-align: middle;
  font-size: 20px;
}
.stepper-button-row {
  float: right;
}
.restrictions {
  display: flex;
  flex-wrap: wrap;

  span {
    display: flex;
    padding: 10px;
    flex-basis: 125px;
    justify-content: space-between;
  }
}
.steps {
  gap: 10px;
}
.ingredients {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
}
.list-container {
  max-width: 500px;
  flex-grow: 1;
  flex-basis: 280px;
}
.mat-form-field {
  width: 100%;
}
.swap-icon {
  padding: 0 5px;
}
.swap-icon-mobile {
  width: 100%;
  margin: 10px 0;
}
.list {
  max-height: 60vh;
  overflow: auto;
  display: block;
}
.list::-webkit-scrollbar {
  -webkit-appearance: none;
}
.list::-webkit-scrollbar:vertical {
  width: 20px;
}
.list::-webkit-scrollbar:horizontal {
  height: 20px;
}
.list::-webkit-scrollbar-thumb {
  border-radius: var(--radius);
  border: 2px solid inherit;
  background-color: rgba(0, 0, 0, 0.3);
}
h3 {
  font-size: 18px;
  white-space: nowrap;
}
.step-box {
  background-color: var(--block);
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;

  min-height: 40px;
  padding: 5px 20px 0 10px;
  position: relative;
  margin-bottom: 15px;
  border-radius: var(--radius);
  box-shadow: var(--highlight-shadow);

  .box-icon {
    cursor: move;
    width: 30px;
    padding: 1rem 0.5rem;
  }
}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  cursor: move;
  font-size: 12px;
  min-height: 40px;
  padding: 5px 20px 0 10px;
  position: relative;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: var(--radius);
  box-shadow: var(--highlight-shadow);

  .mat-form-field {
    width: 50px;
  }
  .ingredient-name {
    font-weight: 900;
    font-size: 14px;
    margin: auto;
  }
  .optional-toggle {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .box-icon {
    position: absolute;
    right: 0;
  }
}
.box-bottom {
  padding-bottom: 5px;
}
mat-label {
  font-weight: 700;
}
.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: var(--text);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .list {
    max-height: 250px;
  }
}
