.form-field {
  width: 100%;
}

td {
  justify-content: center;
}

.buy-button {
  padding: 3px;
}

.buy-icon {
  vertical-align: middle;
  font-size: 20px;
}

.button-row {
  margin: 10px 0;
}

.mat-secondary {
  background-color: #495057;
  color: white;
}

.list-container {
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 10px;
}

.list {
  min-height: 40px;
  border: solid 1px #ccc;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

h3 {
  font-size: 18px;
  white-space: nowrap;
}

.box {
  border-bottom: solid 1px #ccc;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 40px;
  padding-top: 17.5px;
}

.box:last-child {
  border: none;
}

.box-bottom {
  padding-bottom: 17.5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
