h2 {
  margin: 0;
}
.container {
  column-gap: 50px;
}
.category-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    margin: 5px;
  }
}
.mat-mdc-card-header .mat-mdc-card-subtitle {
  width: min-content;
  margin: -8px auto 0 !important;
}
.category-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
}
.mat-mdc-card-image {
  margin: 0 !important;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
