h2 {
    text-decoration: underline;
}

dt {
    font-size: 20px;
}

dd {
    font-size: 16px;
    /* text-decoration: underline; */
}

.example-card {
    min-width: 300px;
}

.card-column {
    min-width: 300px;
}

.button-row {
    margin: 10px 0;
}