<app-loader *ngIf="loading" class="d-flex justify-content-center"></app-loader>
<app-validation-modal [validationModalParams]="validationModalParams"></app-validation-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-fab color="primary" [routerLink]="['/ingredients-list']"><mat-icon>list</mat-icon></a>
  </div>

  <mat-card class="detail-card">
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title class="d-flex justify-content-center">
        <h2> {{ingredient.name}} </h2>
      </mat-card-title>
    </mat-card-header>

    <div class="row justify-content-center">
      <mat-card-content class="col-3 d-flex justify-content-center card-column">
        <dl>
          <dt> Category </dt>
          <dd> {{ingredient.category || "No Category"}} </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="col-3 d-flex justify-content-center card-column">
        <dl>
          <dt> Amount </dt>
          <dd> {{ingredient.amount || "No Amount"}} </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="col-3 d-flex justify-content-center card-column">
        <dl>
          <dt> Calories </dt>
          <dd> {{ingredient.calories || "No Calories"}} </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="col-3 d-flex justify-content-center card-column">
        <dl>
          <dt> Quantity </dt>
          <dd> {{ingredient.quantity || "No Quantity"}} </dd>
        </dl>
      </mat-card-content>
    </div>

    <mat-card-actions class="d-flex justify-content-between">
      <a mat-fab color="primary" [routerLink]="['/ingredients-update/', ingredient.key]">
        <mat-icon> edit </mat-icon>
      </a>
      <a mat-fab color="warn" (click)="deleteIngredient(ingredient.key)">
        <mat-icon> delete </mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
