<header class="d-flex justify-content-center content">
  <!-- <div class="container"> -->
    <a routerLink="/" class="title">Cookbook</a>
    <!-- <nav> -->
      <!-- <ul>
        <li><a routerLink="/" class="btn btn-primary">Home</a></li>
        <li><a routerLink="/recipes" class="btn btn-primary">Recipes</a></li>
        <li><a routerLink="/list" class="btn btn-primary">Shopping List</a></li>
        <li><a routerLink="/about" class="btn btn-primary">About</a></li>
      </ul> -->
        <a routerLink="/" class="btn btn-primary">Home</a>
        <a routerLink="/recipes" class="btn btn-primary">Recipes</a>
        <a routerLink="/ingredients" class="btn btn-primary">Ingredients</a>
        <a routerLink="/list" class="btn btn-primary">Shopping List</a>
        <a routerLink="/about" class="btn btn-primary">About</a>
    <!-- </nav> -->
</header>