<div class="d-flex justify-content-center header">
  <div class="navbar" >
    <a routerLink="/" class="title">The Cookbook</a>
    <span *ngIf="isLoggedIn | async" class="title-bar">
      <span *ngIf="isAdmin | async" class="title-btn">
          <label routerLink="/admin-dashboard">
            <mat-icon> apps </mat-icon>
          </label>
        </span>
    </span>

    <div style="clear: both;"></div>

    <div *ngIf="isLoggedIn | async">

      <a routerLink="/" class="btn btn-dark">Home</a>
      <a routerLink="/recipes-list" class="btn btn-dark">Recipes</a>
      <a routerLink="/ingredients-list" class="btn btn-dark">Ingredients</a>
      <a routerLink="/list" class="btn btn-dark">Shopping List</a>
      <a routerLink="/about" class="btn btn-dark">About</a>
      <!-- TODO: special profile button -->
      <a routerLink="/user-profile" class="btn btn-dark">My Profile</a>
      
      <button (click)="signOut()" class="btn btn-dark">Sign-out</button>
    </div>
  </div>
</div>