.header {
    /* background-color: #FFB80B; */
    /* background-color: #373BA6; */
    background-image: linear-gradient(-45deg, #373BA6, #212463);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 0;
    width: 100%;
    /* height: 100px; */
}

.title {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    /* margin-right: 5%; */
}

.navbar {
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.btn {
    border-radius: 0;
    /* margin-left: 10px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:active, .btn:focus {
    box-shadow: none !important;
}