.button-row {
  display: flex;
  justify-content: flex-end;
}
.table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.table-container .row {
  display: flex;
  flex-direction: unset;
  align-items: center;
  padding: 5px 10px;
}
.table-container .search-row {
  padding: 0 10px 0 0;
}
.table-container .row:last-child {
  border: none;
}
.table-container .cell {
  width: 100%;
  display: block;
  min-height: 0;
}
.table-container .cell:first-of-type, .cell:last-of-type {
  padding: 0;
}
.table-container .cell:last-of-type {
  text-align: end;
}
@media screen and (max-width: 767px) {
  .cell {
      width: 100%;
      display: block;
      min-height: 0;
  }
  .cell:first-of-type, .cell:last-of-type {
      padding: 0;
  }
  .row:after {
      min-height: 0;
  }
  .row {
      flex-direction: column;
      align-items: start;
      padding: 10px 20px;
  }
}
