<div class="star-ratings">
  <div class="user" [ngStyle]="{ width: (userRating.rating / 3) * 100 + '%' }">
    <span (click)="handleRate(1)">★</span>
    <span (click)="handleRate(2)">★</span>
    <span (click)="handleRate(3)">★</span>
  </div>
  <div
    class="top"
    [ngStyle]="{
      width: recipe.meanRating + '%',
      height:
        recipe.ratings.length === 1 && userRating.rating ? '0' : userRating.rating ? '13px' : '100%'
    }"
  >
    <span (click)="handleRate(1)">★</span>
    <span (click)="handleRate(2)">★</span>
    <span (click)="handleRate(3)">★</span>
  </div>
  <div class="bottom">
    <span (click)="handleRate(1)">★</span>
    <span (click)="handleRate(2)">★</span>
    <span (click)="handleRate(3)">★</span>
  </div>
</div>
