@import './theme/theme';

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.app-loading .spinner {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.app-loading .spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s linear infinite;
}
.app-loading .loading-message {
    position: absolute;
    top: 60%;
    color: white;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.app {
    height: 100%;
    position: relative;
}
.page {
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
.content {
    padding: 5% 0;
    width: 90%;
}
.clear-footer {
    height: 50px;
    clear: both;
}
.mat-button, .mat-raised-button, .mat-mini-fab {
    outline: none !important;
}
.mat-paginator {
    background: inherit !important;
}
