<div class="app-loading" *ngIf="!(isLoggedIn | async) && !(isGuest | async)">
	<div class="spinner"></div>
	<div class="loading-message">Loading user settings</div>
</div>

<div class="app" [ngClass]="{'dark': (user | async)?.theme}" [hidden]="!(isLoggedIn | async) && !(isGuest | async)"> 
	<div class="page">
		<app-header></app-header>

		<div class="center">
			<section [@fadeComponentAnimation]="routeTransition(outlet)">
				<router-outlet #outlet="outlet"></router-outlet>
			</section>
		</div>

		<div class="clear-footer"></div>
	</div>
	
	<app-notification-modal></app-notification-modal>
	<app-recipe-ingredient-modal></app-recipe-ingredient-modal>
	<app-footer></app-footer>
</div>
