.page {
    background-color: lightgray;
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
.content {
    padding: 5%;
    width: 80%;
}
.clear-footer {
    height: 50px;
    clear: both;
}
