.page {
    background-color: lightgray;
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
.content {
    /* margin-top: 5%;
    margin-bottom: 5%; */
    padding: 5%;
}
.clear-footer {
    height: 50px;
    clear: both;
}