@import './theme/theme';

.app {
    height: 100%;
    position: relative;
}
.page {
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
.content {
    padding: 5%;
    /* TODO: padding: 2%; needs to work with transitions */
    width: 80%;
}
.clear-footer {
    height: 50px;
    clear: both;
}
