.modal-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.modal-container {
    position: relative;
    margin: 0 auto;
    top: 16%;
    width: 300px;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    pointer-events: auto;
}

.success {
    background-color: rgba(0, 120, 0, 0.6);
}

.success:hover {
    background-color: rgb(0, 120, 0);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}

.failure {
    background-color: rgba(200, 4, 4, 0.8);
}

.failure:hover {
    background-color: rgb(200, 4, 4);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}

.modal-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
