<app-loading-modal *ngIf="loading"></app-loading-modal>

<div *ngIf="!loading">
  <mat-card class="detail-card">
    <mat-card-header class="center">
      <mat-card-title class="center">
        <h2>{{ingredient.name}}</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="container center">
      <mat-card-content class="card-column">
        <dl>
          <dt>Category</dt>
          <dd>{{ingredient.displayCategory}}</dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column">
        <dl>
          <dt>Amount</dt>
          <dd>{{ingredient.amount || "No Amount"}} {{ingredient.uom === 'other'? '' : ingredient.uom}}</dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column">
        <dl>
          <dt>Calories </dt>
          <dd>{{ingredient.calories || "No Calories"}}</dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column">
        <dl>
          <dt>Quantity</dt>
          <dd>{{ingredient.quantity || "No Quantity"}}</dd>
        </dl>
      </mat-card-content>
    </div>

    <mat-card-actions class="between">
      <a mat-mini-fab matTooltip="Edit Ingredient" color="primary" [routerLink]="['/ingredient/edit/', ingredient.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-mini-fab matTooltip="Delete Ingredient" color="warn" (click)="deleteIngredient(ingredient.id)">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <div class="button-row">
    <a mat-mini-fab matTooltip="Grocery Items List" color="primary" routerLink="/ingredient/list">
      <mat-icon>list</mat-icon>
    </a>
    <button mat-mini-fab matTooltip="Tutorial" color="primary" (click)="openTutorial()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</div>
