dt {
    font-size: 18px;
    margin-bottom: 5px;
}
dd {
    font-size: 16px;
    margin-bottom: 20px;
}
.detail-card {
    padding: 50px;
}
.card-column {
    min-width: 200px;
    text-align: center;
}
