.container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
dt {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
dd {
  font-size: 16px;
  margin: 0 0 20px;
}
.detail-card {
  padding: 50px;
}
.card-column {
  min-width: 200px;
  text-align: center;
}
