<app-loading-modal *ngIf="loading"></app-loading-modal>

<div *ngIf="!loading">
  <mat-card class="detail-card">
    <mat-card-header class="center">
      <mat-card-title class="center">
        <h2>{{ ingredient.name }}</h2>
      </mat-card-title>
    </mat-card-header>

    <div class="container center">
      <mat-card-content class="card-column">
        <dl>
          <dt>Category</dt>
          <dd>{{ ingredient.displayCategory }}</dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column">
        <dl>
          <dt>
            Volume Amount
            <mat-icon matTooltip="i.e. tablespoons, cups, or liters">info</mat-icon>
            <mat-icon
              *ngIf="ingredient.buyableUOM === 'volume'"
              matTooltip="This is the amount that will appear on the shopping list"
            >
              shopping_cart
            </mat-icon>
          </dt>
          <dd>
            {{ ingredient.amount || 'No Volume Amount' }}
            {{ ingredient.uom === 'other' ? '' : ingredient.uom }}
          </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column" *ngIf="!!ingredient.altAmount">
        <dl>
          <dt>
            Weight Amount
            <mat-icon matTooltip="i.e. ounces, pounds, or grams">info</mat-icon>
            <mat-icon
              *ngIf="ingredient.buyableUOM === 'weight'"
              matTooltip="This is the amount that will appear on the shopping list"
            >
              shopping_cart
            </mat-icon>
          </dt>
          <dd>
            {{ ingredient.altAmount || 'No Weight Amount' }}
            {{ ingredient.altUOM === 'other' ? '' : ingredient.altUOM }}
          </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="card-column">
        <dl>
          <dt>Calories</dt>
          <dd>{{ ingredient.calories || 'No Calories' }}</dd>
        </dl>
      </mat-card-content>
    </div>

    <mat-card-actions class="between">
      <a
        mat-button
        matTooltip="Delete Ingredient"
        color="warn"
        (click)="deleteIngredient(ingredient.id)"
      >
        <mat-icon>delete</mat-icon>
      </a>
      <a
        mat-button
        matTooltip="Edit Ingredient"
        color="primary"
        [routerLink]="['/ingredient/edit/', ingredient.id]"
        skipLocationChange="true"
      >
        <mat-icon>edit</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <div class="button-row">
    <app-tutorial-button />
    <a mat-button matTooltip="Grocery Items List" color="primary" routerLink="/ingredient/list">
      <mat-icon>list</mat-icon>
    </a>
  </div>
</div>
