.box {
    transition: all 1s ease-in-out;
}
.tab-body {
    margin: 15px;
}
.theme-icon {
    margin-left: 20px;
}
.theme-icon .mat-icon {
    vertical-align: bottom;
}
.image-progress {
    width: calc(100% + 32px);
    margin: 0 -16px;
    top: -16px;
}
.image-buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.image-buttons .mat-button {
    padding: 0;
    min-width: 30px;
}
.mat-card-image {
    width: 100%;
    max-height: 400px;
    object-fit: scale-down;
    margin: 0 0 10px 0;
}
.button-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.chart-container {
    height: 55vh;
    display: grid;
}
