.mat-tab-group {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: var(--radius);
}
.box {
  transition: all 1s ease-in-out;
}
.tab-body {
  margin: 15px;
  box-shadow: none !important;
  background: inherit;
  color: inherit;
  padding: 0;
}
.profile {
  column-gap: 35px;
}
.profile-form {
  display: flex;
  flex-direction: column;
}
.theme-icon .mat-icon {
  vertical-align: bottom;
}
.image-progress {
  width: calc(100% + 32px);
  margin: 0 -16px;
  top: -16px;
}
.mat-card-image {
  max-width: 750px;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.button-container {
  padding-bottom: 20px;

  .button-row {
    padding-bottom: 10px;
    width: 100%;
    justify-content: flex-start;
  }
}
.profile-button-row {
  align-items: flex-end;
  height: 100%;
  margin-bottom: 16px;
  margin-right: 0;
}
.chart-container {
  height: 55vh;
  display: grid;
}
