<app-loading-modal *ngIf="loading"></app-loading-modal>

<div *ngIf="!loading">
  <mat-tab-group class="box mat-elevation-z4" dynamicHeight="true" animationDuration="1000ms" [selectedIndex]="selectedIndex">
    <mat-tab label="Profile">
      <div class="tab-body">
        <h2>Your Profile</h2>

        <mat-progress-bar class="image-progress" mode="determinate" [value]="userImageProgress" [hidden]="!userImageProgress"></mat-progress-bar>

        <div class="image-buttons" *ngIf="(online$ | async)">
          <input #uploadFile type="file" id="uploadFile" style="display: none" (change)="readFile($event)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"/>
          <button mat-button matTooltip="Add Image" (click)="uploadFile.click()" [hidden]="userImage"><mat-icon>add</mat-icon></button>
          <button mat-button matTooltip="Delete Image" (click)="deleteFile(user.id)" [hidden]="!userImage"><mat-icon>close</mat-icon></button>
        </div>

        <div class="container">
          <img mat-card-image *ngIf="userImage" [src]="userImage" alt=""/>
  
          <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
            <div class="container">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName" [errorStateMatcher]="matcher"/>
                <mat-error>
                  <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">Please enter your first name</span>
                </mat-error>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" [errorStateMatcher]="matcher"/>
                <mat-error>
                  <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">Please enter your last name</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Default Shopping List</mat-label>
                <mat-select formControlName="defaultShoppingList">
                  <mat-option *ngFor="let user of users" [value]="user.uid">
                    {{user.firstName + ' ' + user.lastName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="!userForm.get('defaultShoppingList').valid && userForm.get('defaultShoppingList').touched">Please Select a default shopping list</span>
                </mat-error>
              </mat-form-field>
            </div>
            <br/>

            <div class="container button-container">
              <div>
                <mat-slide-toggle matInput formControlName="theme" ngDefaultControl [checked]="userForm.get('theme').value">
                </mat-slide-toggle>
                <span *ngIf="!userForm.get('theme').value" class="theme-icon" matTooltip="Light Theme">
                  <mat-icon>brightness_5</mat-icon>
                </span>
                <span *ngIf="userForm.get('theme').value" class="theme-icon" matTooltip="Dark Theme">
                  <mat-icon>brightness_3</mat-icon>
                </span>
              </div>

              <div>
                <mat-slide-toggle matInput formControlName="simplifiedView" ngDefaultControl [checked]="userForm.get('simplifiedView').value">
                </mat-slide-toggle>
                <span *ngIf="!userForm.get('simplifiedView').value" class="theme-icon" matTooltip="Expanded View">
                  <mat-icon>view_compact</mat-icon>
                </span>
                <span *ngIf="userForm.get('simplifiedView').value" class="theme-icon" matTooltip="Simplified View">
                  <mat-icon>view_comfy</mat-icon>
                </span>
              </div>
            </div>
            
            <div class="button-row">
              <button mat-mini-fab type="submit" matTooltip="Save Settings" [disabled]="!userForm.valid" color="primary">
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Analytics">
      <div class="tab-body">
        <h2>Your Analytics</h2>

        <mat-paginator #weekPaginator [length]="actionsLength" [pageSize]="1" [hidePageSize]="true" (page)="week = $event"></mat-paginator>
        <h4>{{actions[week.pageIndex]?.date || ''}}</h4>

        <div class="chart-container">
          <ngx-charts-pie-chart class="desktop"
            [results]="actions[week.pageIndex]?.data"
            [legend]="true"
            [doughnut]="true">
          </ngx-charts-pie-chart>
          <ngx-charts-pie-chart class="mobile"
            [results]="actions[week.pageIndex]?.data">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="History">
      <div class="tab-body">
        <h2>Your Recipe History</h2>

        <div class="chart-container">
          <ngx-charts-bar-vertical class="desktop"
            [results]="history"
            [gradient]="true"
            [xAxis]="true"
            [legend]="true"
            [showDataLabel]="true"
            [trimXAxisTicks]="false">
          </ngx-charts-bar-vertical>
          <ngx-charts-bar-horizontal class="mobile"
            [results]="history"
            [gradient]="true"
            [yAxis]="true"
            [showDataLabel]="true">
          </ngx-charts-bar-horizontal>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
