<app-loading-modal *ngIf="loading"></app-loading-modal>

<div *ngIf="!loading">
  <mat-tab-group class="box mat-elevation-z8" dynamicHeight="true" animationDuration="1000ms" [selectedIndex]="selectedIndex">
    <mat-tab label="Profile">
      <div class="tab-body">
        <mat-progress-bar class="image-progress" mode="determinate" [value]="userImageProgress" [hidden]="!userImageProgress"></mat-progress-bar>

        <h2>Your Profile</h2>

        <app-image-upload [id]="user.id" class="icon-buttons" [updateImage]="updateImage" [(progress)]="userImageProgress" [(image)]="userImage"></app-image-upload>

        <div class="container">
          <img mat-card-image *ngIf="userImage" [src]="userImage" alt=""/>
  
          <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
            <div class="container">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName" [errorStateMatcher]="matcher" required/>
                <mat-error>
                  <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">Please enter your first name</span>
                </mat-error>
              </mat-form-field>
          
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" [errorStateMatcher]="matcher" required/>
                <mat-error>
                  <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">Please enter your last name</span>
                </mat-error>
              </mat-form-field>

            </div>
            <br/>

            <div class="container button-container">
              <div>
                <mat-slide-toggle matInput formControlName="theme" ngDefaultControl [checked]="userForm.get('theme').value">
                </mat-slide-toggle>
                <span *ngIf="!userForm.get('theme').value" class="theme-icon" matTooltip="Light Theme">
                  <mat-icon>brightness_5</mat-icon>
                </span>
                <span *ngIf="userForm.get('theme').value" class="theme-icon" matTooltip="Dark Theme">
                  <mat-icon>brightness_3</mat-icon>
                </span>
              </div>
            </div>
            
            <div class="button-row">
              <button mat-mini-fab type="submit" matTooltip="Save Settings" [disabled]="!userForm.valid" color="primary">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-mini-fab matTooltip="Tutorial" type="button" color="primary" (click)="openTutorial()">
                <mat-icon>help</mat-icon>
              </button>
            </div>
          </form>
        </div>

        <hr />

        <app-household [userId]="user.uid"></app-household>
      </div>
    </mat-tab>

    <mat-tab label="Analytics">
      <div class="tab-body">
        <h2>Your Analytics</h2>

        <mat-paginator [length]="actionsLength" [pageSize]="1" [hidePageSize]="true" (page)="actionPage = $event"></mat-paginator>
        <h4>{{actions[actionPage.pageIndex]?.date || ''}}</h4>

        <div class="chart-container">
          <ngx-charts-pie-chart class="desktop"
            [results]="actions[actionPage.pageIndex]?.data"
            [legend]="true"
            [doughnut]="true">
          </ngx-charts-pie-chart>
          <ngx-charts-pie-chart class="mobile"
            [results]="actions[actionPage.pageIndex]?.data">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="History">
      <ng-template matTabContent>
        <div class="tab-body">
          <h2>Your Recipe History</h2>
          <p *ngIf="totalRecipesCooked">Total Recipes Cooked: {{totalRecipesCooked}}</p>
  
          <div class="chart-container desktop">
            <ngx-charts-bar-vertical
              [results]="history"
              [gradient]="true"
              [xAxis]="true"
              [legend]="true"
              [showDataLabel]="true">
            </ngx-charts-bar-vertical>
          </div>
          <div class="chart-container mobile" [ngStyle]="{'height': history.length * 3 + 'vh'}">
              <ngx-charts-bar-horizontal
              [results]="history"
              [gradient]="true"
              [yAxis]="true"
              [showDataLabel]="true">
            </ngx-charts-bar-horizontal>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
