.tab-body {
    padding: 5%;
}
.button-row {
    margin: 10px 0;
}
.theme-icon {
    margin-left: 20px;
}
.theme-icon .mat-icon {
    vertical-align: bottom;
}
.mat-paginator {
    background: inherit;
}
