<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div class="d-flex justify-content-center">
  <h2>
    The Recipes
  </h2>
</div>
<br/>

<div [hidden]="loading">
  <div class="button-row">
    <a mat-mini-fab matTooltip="Add Recipe" color="primary" [routerLink]="['/recipe/edit']" class="row-button">
      <mat-icon>add</mat-icon>
    </a>

    <span *ngFor="let filters of filtersList" class="row-button">
      <button mat-button [matMenuTriggerFor]="menu" matBadge="{{filters.numberOfSelected == 0 ? '' : filters.numberOfSelected}}">{{filters.displayName}}</button>
      <mat-menu #menu="matMenu">
        <mat-checkbox class="mat-menu-item" *ngFor="let filter of filters.values" [(ngModel)]="filter.checked" (click)="$event.stopPropagation()" (change)="filterSelected(filter)">{{filter.name}}</mat-checkbox>
      </mat-menu>
    </span>
  </div>

  <mat-form-field class="search-bar">
    <input matInput (keyup)="applyFilter($event.target.value)"/>
    <mat-placeholder>
      <mat-icon>search</mat-icon>
    </mat-placeholder>
  </mat-form-field>

  <div *ngIf="!loading" class="row justify-content-center">
    <mat-card *ngFor="let recipe of dataSource.connect().value; trackBy: indentify" class="recipe-card col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mat-elevation-z4" [routerLink]="['/recipe/detail/', recipe.id]">
      <mat-card-header>
        <mat-card-title>{{recipe.name}}</mat-card-title>
        <mat-card-subtitle>
          <span (click)="$event.stopPropagation()">
            <app-rating (rate)="onRate($event, recipe)" [ratings]="recipe.ratings" [uid]="uid"></app-rating>
          </span>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image *ngIf="recipe.image" [src]="recipe.image" alt=""/>

      <mat-card-content *ngIf="!simplifiedView">
        Preparation Time: {{recipe.time}}<br/>
        Servings: {{recipe.servings}}<br/>
        Calories: {{recipe.calories}}<br/>
      </mat-card-content>
      <mat-card-actions (click)="$event.stopPropagation()">
          <button mat-button color="primary" (click)="addIngredients(recipe.id)">Add to List</button>
          <button mat-button color="warn" (click)="removeIngredients(recipe.id)" *ngIf="recipe.count && recipe.count > 0">
            <span>Cook</span>
            <span>
              ({{recipe.count | number: '1.0-2'}})
            </span>
          </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [pageSizeOptions]="[100, 200, 500]" class="full-width"></mat-paginator>
</div>
