<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div class="d-flex justify-content-center">
  <h2>
    The Recipes
  </h2>
</div>
<br/>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-mini-fab matTooltip="Add Recipe" matTooltip="Add Recipe" matTooltip="Add Recipe" color="primary" [routerLink]="['/recipe-edit']" class="row-button">
      <mat-icon> add </mat-icon>
    </a>

    <button mat-mini-fab matTooltip="All Recipes" (click)="toggleAuthor(uid)" *ngIf="isAuthor" class="row-button">
      <mat-icon>check_box</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="My Recipes" (click)="toggleAuthor(uid)" *ngIf="!isAuthor" class="row-button">
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>
  </div>

  <div class="table-container mat-elevation-z8"> 
    <table mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Preparation Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} {{ element.time ? 'minutes' : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="servings">
        <th mat-header-cell *matHeaderCellDef> Servings </th>
        <td mat-cell *matCellDef="let element"> {{element.servings}} </td>
      </ng-container>

      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef> Calories </th>
        <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="cook">
        <th mat-header-cell *matHeaderCellDef> Remove Ingredients </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button class="btn btn-danger" (click)="removeIngredients(element.id)">
            Cook
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="buy">
        <th mat-header-cell *matHeaderCellDef> Add Ingredients </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button class="btn btn-primary" (click)="addIngredients(element.id)">
            Add to Cart
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/recipe-detail/', row.id]"></tr>
    </table>
  </div>
</div>
