.container {
    column-gap: 50px;
}
.mat-form-field {
    width: 60%;
}
.row-button {
    margin: 2%;
}
.row-button button {
    padding: 0;
}
.mat-menu-item {
    display: block;
}
.recipe-card {
    width: 300px;
    margin: 10px;
    text-align: center;
}
.mat-card-header {
    flex-grow: 1;
    overflow: auto;
}
.mat-card-header .mat-card-subtitle {
    width: min-content;
    margin: -8px auto 0 !important;
}
.mat-card-image {
    margin: 0 -16px 5px !important;
    object-fit: cover;
}
.mat-card-actions {
    display: flex !important;
    justify-content: center;
    width: min-content;
    margin: 0 auto !important;
    padding: 0 !important;
}
.mat-card-actions .mat-button {
    margin: 0 0 0 20px !important;
    padding: 0;
}
.mat-card-actions .mat-button:first-child {
    margin: 0 !important;
}
.categories {
    display: none;
}
.mat-card:hover .categories {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    padding: 0 10px;
    max-height: 32px;
    z-index: 2;
    overflow: clip;
}
.categories .mat-chip {
    font-size: 12px;
    padding: 8px;
    margin: 4px 2px;
}
.mat-paginator {
    background: inherit;
}
.full-width {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .recipe-card {
        margin: 5px;
    }
}
