.mat-form-field {
    width: 60%;
}
.row-button {
    margin: 10px;
}
.recipe-card {
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}
.mat-card {
    display: flex;
    flex-direction: column;
}
.mat-card-header {
    // flex-shrink: 0;
    flex-grow: 1;
    overflow: auto;
}
// .mat-card-content {
//     flex-grow: 1;
//     overflow: auto;
// }
.mat-card-image {
    // height: 100px;
    object-fit: cover;
}
.mat-card-actions {
    margin: 0;
}
.mat-paginator {
    background: inherit;
}
.full-width {
    width: 100%;
}
