<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>The Recipes</h2>

<div [hidden]="loading">
  <mat-paginator
    [pageIndex]="pageIndex"
    [hidePageSize]="true"
    [pageSizeOptions]="[100]"
    (page)="pageEvent($event)"
    class="full-width"
  ></mat-paginator>

  <div class="button-row center">
    <span *ngFor="let filters of filtersList" class="row-button">
      <span *ngIf="!filters.icon">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          matBadge="{{ filters.numberOfSelected === 0 ? '' : filters.numberOfSelected }}"
        >
          {{ filters.displayName }}
        </button>
        <mat-menu #menu="matMenu">
          <mat-checkbox
            class="mat-menu-item"
            *ngFor="let filter of filters.values"
            [(ngModel)]="filter.checked"
            (click)="$event.stopPropagation()"
            (change)="filterSelected(filter)"
          >
            {{ filter.displayName }}
          </mat-checkbox>
        </mat-menu>
      </span>

      <span *ngIf="filters.icon">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          matBadge="{{ filters.numberOfSelected === 0 ? '' : filters.numberOfSelected }}"
        >
          <mat-icon>{{ filters.icon }}</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let subFilters of filters.values">
            {{ subFilters.numberOfSelected }}
            <button mat-menu-item [matMenuTriggerFor]="subMenu">
              {{ subFilters.displayName }}
            </button>
            <mat-menu #subMenu="matMenu">
              <mat-checkbox
                class="mat-menu-item"
                *ngFor="let filter of subFilters.values"
                [(ngModel)]="filter.checked"
                (click)="$event.stopPropagation()"
                (change)="filterSelected(filter)"
              >
                {{ filter.displayName }}
              </mat-checkbox>
            </mat-menu>
          </ng-container>
        </mat-menu>
      </span>
    </span>

    <app-tutorial-button />

    <button
      mat-button
      matTooltip="Add Recipe"
      color="primary"
      id="create-recipe-button"
      (click)="openRecipeEditor()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field class="search-bar">
    <input matInput [ngModel]="searchFilter" (ngModelChange)="searchChanged($event)" />
    <mat-placeholder>
      <mat-icon>search</mat-icon>
    </mat-placeholder>
    <button
      mat-button
      mat-icon-button
      matSuffix
      matTooltip="Clear filters"
      (click)="clearFilters()"
      *ngIf="dataSource?.filter.length"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="!loading" class="container center">
    <mat-card
      *ngFor="let recipe of dataSource.connect().value; trackBy: identify"
      [id]="recipe.id"
      class="recipe-card mat-elevation-z8"
      (click)="openRecipeDetail(recipe)"
    >
      <mat-card-header>
        <mat-card-title>{{ recipe.name }}</mat-card-title>
        <mat-card-subtitle>
          <span (click)="$event.stopPropagation()">
            <app-rating
              (rate)="onRate($event, recipe)"
              [recipe]="recipe"
              [uid]="user.uid"
            ></app-rating>
          </span>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image *ngIf="recipe.image" [src]="recipe.image" alt="" loading="lazy" />

      <mat-card-actions (click)="$event.stopPropagation()">
        <button
          mat-button
          color="accent"
          (click)="changeStatus(recipe)"
          *ngIf="recipe.hasAuthorPermission"
        >
          <span *ngIf="recipe.status !== 'private'">Published</span>
          <span *ngIf="recipe.status === 'private'">Private</span>
        </button>
        <div *ngIf="!recipe.hasAuthorPermission"></div>
        <button mat-button color="primary" *ngIf="user.hasPlanner" (click)="addRecipe(recipe)">
          Add to Plan
        </button>
        <button
          mat-button
          color="primary"
          *ngIf="!user.hasPlanner"
          (click)="addIngredients(recipe.id)"
        >
          Add to List
        </button>
      </mat-card-actions>

      <app-category-chips class="categories" [recipe]="recipe" />
    </mat-card>
  </div>

  <mat-paginator
    *ngIf="!loading && dataSource.connect().value.length"
    [hidePageSize]="true"
    (page)="handlePageBottom($event)"
    [pageSize]="paginator.pageSize"
    [pageIndex]="paginator.pageIndex"
    [length]="paginator.length"
    [pageSizeOptions]="paginator.pageSizeOptions"
    class="full-width"
  ></mat-paginator>
</div>
