h2 {
  margin: 0;
}
.container {
  column-gap: 50px;
}
.mat-mdc-form-field {
  width: 60%;
}
.button-row {
  margin: 0 auto;
}
.row-button:last-of-type {
  margin-right: auto;
}
.row-button button {
  padding: 5px;
  min-width: fit-content;
}
.recipe-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.has-image + &.no-image {
    grid-column-start: 1;
  }
}
.mat-mdc-card-header {
  padding: 8px 16px 4px;
  justify-content: center;

  .mat-mdc-card-subtitle {
    width: min-content;
    margin: -8px auto 0 !important;
  }
}
.mat-mdc-card-image {
  object-fit: cover;
  aspect-ratio: 1/1;
}
.mat-mdc-card-actions {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 !important;
  padding: 0 !important;
}
.categories {
  display: none;
}
.mat-mdc-card:hover .categories {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  padding: 0 10px;
  max-height: 24px;
  z-index: 2;
  overflow: clip;
}
.mat-mdc-paginator {
  background: inherit;
}
.full-width {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .recipe-card {
    margin: 5px;
  }
}
