h2 {
  margin: 0;
}
.container {
  column-gap: 50px;
}
.mat-form-field {
  width: 60%;
}
.button-row {
  margin: 0 auto;
}
.row-button:last-of-type {
  margin-right: auto;
}
.row-button button {
  padding: 5px;
  min-width: fit-content;
}
.mat-menu-item {
  display: block;
}
.recipe-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mat-card-header .mat-card-subtitle {
  width: min-content;
  margin: -8px auto 0 !important;
}
.mat-card-image {
  margin: 0 -16px 5px !important;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.mat-card-actions {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 !important;
  padding: 0 !important;
}
.categories {
  display: none;
}
.mat-card:hover .categories {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  padding: 0 10px;
  max-height: 24px;
  z-index: 2;
  overflow: clip;
}
.mat-paginator {
  background: inherit;
}
.full-width {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .recipe-card {
    margin: 5px;
  }
}
