.modal-center {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.modal-container {
    position: relative;
    margin: 0 auto;
    top: 45%;
    width: 50px;
}

.spinner {
    width: 50px;
    height: 50px;
}
