<ng-template #table let-context="context">
  <h2>{{ context.title }}</h2>

  <div class="button-row">
    <button
      mat-raised-button
      matTooltip="Add an Empty Record"
      color="primary"
      (click)="context.add()"
      *ngIf="context.add"
    >
      Add
    </button>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table #table [dataSource]="context.dataSource">
      <ng-contaner *ngFor="let column of context.displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngStyle]="{ 'min-width': isArray(element[column]) ? '200px' : 'max-content' }"
        >
          <mat-form-field
            *ngIf="
              !isArray(element[column]) && !isBoolean(element[column]) && column !== 'description'
            "
          >
            <input matInput [value]="element[column]" [(ngModel)]="element[column]" />
          </mat-form-field>

          <mat-form-field *ngIf="column === 'description'">
            <textarea
              matInput
              [value]="element[column]"
              [(ngModel)]="element[column]"
              cdkTextareaAutosize
            ></textarea>
          </mat-form-field>

          <mat-checkbox
            [(ngModel)]="element[column]"
            *ngIf="isBoolean(element[column])"
          ></mat-checkbox>

          <span *ngIf="isArray(element[column])">{{ element[column] | json }}</span>
        </td>
      </ng-contaner>

      <ng-container [matColumnDef]="'delete'">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            matTooltip="Delete Selected Record"
            color="accent"
            (click)="context.remove(element.id)"
            *ngIf="context.remove"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="context.displayedColumns.concat('delete'); sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: context.displayedColumns.concat('delete')"></tr>
    </table>
  </div>

  <div class="button-row">
    <button
      mat-raised-button
      matTooltip="Revert All Changes"
      color="warn"
      (click)="context.revert()"
      style="width: 100px"
    >
      Revert
    </button>
    <button
      mat-raised-button
      matTooltip="Save All Changes"
      color="primary"
      (click)="context.save()"
      style="width: 100px"
    >
      Save
    </button>
  </div>
</ng-template>

<mat-tab-group
  class="box mat-elevation-z8"
  dynamicHeight="true"
  animationDuration="1000ms"
  (selectedTabChange)="tabChanged($event)"
>
  <mat-tab label="Admin Dashboard">
    <div class="admin-description">
      <h2>Dashboard</h2>

      <div>
        <h3>Nav fields</h3>
        <div>subMenus: profile, tools</div>
      </div>
      <br />

      <div>
        <h3>Tutorial fields</h3>
        <div>position: right, left</div>
      </div>
      <br />

      <div>
        <h3>User fields</h3>
        <div>Roles: user, admin, pending</div>
      </div>
      <br />

      <div>
        <h3>Recipe fields</h3>
        <div>Statuses: published, private, blueprint</div>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngFor="let context of contexts" [label]="context.title">
    <ng-template
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{ context: context }"
    ></ng-template>
  </mat-tab>
</mat-tab-group>
