.table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 500px;
    overflow: auto;
    margin-bottom: 20px;
}
td.mat-cell {
    padding: 0 10px;
    min-width: max-content;
}
@media screen and (max-width: 767px) {
    .table-container {
        max-height: 300px;
        min-width: 300px;
    }
}
