<div class="row justify-content-center">
  <h2>
    Users
  </h2>
</div>
<br/>
<div class="table-container mat-elevation-z8">
  <form [formGroup]="form"> 
    <table mat-table #table [dataSource]="usersDatasource" formArrayName="roles">
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container> -->

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td *matCellDef="let element; let i = index;" [formGroupName]="i">
          <mat-select formControlName="role">
            <mat-option [value]="role" *ngFor="let role of roleList">
              {{role}}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="unlock">
        <!-- <button class="btn btn-primary btn-block" *ngIf="{{selectedRow?.key != }}"> -->
        <button>
          Unlock
        </button>

        <button class="btn btn-success btn-block">
          Lock
        </button>

        <button class="btn btn-secondary btn-block">
          Revert
        </button>
      </ng-container>

      <button class="btn btn-danger btn-block">
        Delete
      </button>

      <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
    </table>
  </form>
</div>
<br/>



<!-- <div class="row justify-content-center">
  <h2>
    Users
  </h2>
</div>
<br/>
<div>
  <div class="table-container mat-elevation-z8"> 
    <table mat-table #table [dataSource]="usersDatasource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      inline inputs -->
      <!-- edit & delete buttons -->

      <!-- add and save buttons

      <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
    </table>
  </div>
</div>
<br/>

<div class="row justify-content-center">
  <h2>
    Recipes
  </h2>
</div>
<br/>
<div>
  <div class="table-container mat-elevation-z8"> 
    <table mat-table #table [dataSource]="recipesDatasource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="recipesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: recipesDisplayedColumns;"></tr>
    </table>
  </div>
</div>
<br/>

<div class="row justify-content-center">
  <h2>
    Ingredients
  </h2>
</div>
<br/>
<div>
  <div class="table-container mat-elevation-z8"> 
    <table mat-table #table [dataSource]="ingredientsDatasource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="ingredientsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ingredientsDisplayedColumns;"></tr>
    </table>
  </div>
</div> -->
