<div class="comment-list" *ngFor="let comment of parentComments; let i = index;">
  <ng-template [ngTemplateOutlet]="existingComment" [ngTemplateOutletContext]="{comment: comment}"></ng-template>
  
  <div *ngIf="!comment.isResolved || (comment.isResolved && comment.showResolved)">
    <div *ngFor="let childComment of childCommentsByParentId[comment.id]">
      <ng-template [ngTemplateOutlet]="existingComment" [ngTemplateOutletContext]="{comment: childComment}"></ng-template>
    </div>
  
    <ng-template [ngTemplateOutlet]="newComment" [ngTemplateOutletContext]="{control: newCommentControls[i], parent: comment}"></ng-template>
  </div>
</div>
<ng-template [ngTemplateOutlet]="newComment" [ngTemplateOutletContext]="{control: newCommentControls[newCommentControls.length - 1]}"></ng-template>

<ng-template #existingComment let-comment="comment">
  <div class="mat-card comment" [ngClass]="{'sub-comment': comment.parent}">
    <span>{{comment.authorName}}</span>
    <span class="date">{{comment.date}}</span>

    <button mat-button class="resolved" (click)="toggleResolved(comment)" *ngIf="comment.isResolved">
      <mat-icon *ngIf="!comment.showResolved">expand</mat-icon>
      <mat-icon *ngIf="comment.showResolved">compress</mat-icon>
    </button>

    <div class="text" *ngIf="!comment.isResolved || (comment.isResolved && comment.showResolved)">
      <span *ngIf="!comment.isEditing">{{comment.text}}</span>
      <form *ngIf="comment.isEditing">
        <mat-form-field appearance="outline">
          <mat-label>Edit comment</mat-label>
          <textarea matInput [value]="comment.text" [formControl]="comment.control"></textarea>
        </mat-form-field>
    
        <div class="button-row">
          <button mat-button color="primary" (click)="editComment(comment, comment.control.value)">Save</button>
        </div>
      </form>
    </div>

    <div class="button-row" *ngIf="!comment.isResolved || (comment.isResolved && comment.showResolved)">
      <button mat-button color="primary" (click)="resolveComment(comment)" *ngIf="!comment.parent && !comment.isResolved">Resolve</button>
      <button mat-button color="primary" (click)="toggleEdit(comment)">Edit</button>
      <button mat-button color="warn" (click)="deleteComment(comment)">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newComment let-control="control" let-parent="parent">
  <form class="mat-card comment" [ngClass]="{'sub-comment': parent}" *ngIf="control">
    <mat-form-field appearance="outline">
      <mat-label>Add a comment</mat-label>
      <textarea matInput [formControl]="control"></textarea>
    </mat-form-field>

    <div class="button-row">
      <button mat-button color="primary" (click)="addComment(control.value, parent?.id)">Save</button>
    </div>
  </form>
</ng-template>
