.mat-mdc-form-field {
  width: 100%;
}
.collapsible {
  transition: max-height 500ms ease-in-out;
  overflow: hidden;
}
.comment {
  background-color: var(--block);
  border-radius: var(--radius);
  margin-bottom: 10px;
  padding: 8px 16px;

  .comment-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
  }
  .date {
    filter: brightness(50%);
    margin-left: 10px;
  }
  .text {
    width: 100%;
    font-size: 14px;
  }
}
.sub-comment {
  margin-left: 30px;
}
.button-row {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
