<app-modal [params]="params" *ngIf="params && params?.recipe && params?.uid">
  <div class="text-center">
    <h4>{{ params.text }}</h4>
  </div>
  <br />
  <h6>Recommended Ratings:</h6>
  <p>One star for a recipe that isn't good and needs a lot of changes.</p>
  <p>Two stars for a recipe that is good, but not great, and still requires development.</p>
  <p>Three stars for a recipe that could be eaten all the time.</p>
  <app-rating
    (rate)="onRate($event, params.recipe)"
    [recipe]="params.recipe"
    [uid]="params.uid"
  ></app-rating>
  <br />
  <div class="button-row">
    <button mat-raised-button color="warn" (click)="cancel()">Close</button>
    <button mat-raised-button color="primary" (click)="confirm()">Cook without Rating</button>
  </div>
</app-modal>
