<div class="row justify-content-center">
  <h2>
    Add a new Ingredient
  </h2>
</div>
<br/>

<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/ingredients-list']">
    <mat-icon> list </mat-icon>
  </a>
</div>

<form [formGroup]="ingredientsForm" (ngSubmit)="onFormSubmit(ingredientsForm.value)">
  <mat-form-field class="form-field">
    <input matInput placeholder="Name" formControlName="name"
            [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!ingredientsForm.get('name').valid && ingredientsForm.get('name').touched">Please enter Ingredient Name</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Category" formControlName="category"
            [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!ingredientsForm.get('category').valid">Please enter a valid number for Ingredient Servings</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Calories" formControlName="calories"
            [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!ingredientsForm.get('calories').valid">Please enter a valid number for Ingredient Calories</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!ingredientsForm.valid" mat-fab color="primary">
      <mat-icon> save </mat-icon>
    </button>
  </div>
</form>