html,
body {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  text-align: center;
}
h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
dt {
  font-weight: 700;
}
[hidden] {
  display: none !important;
}

.text-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.between {
  display: flex !important;
  justify-content: space-between !important;
}
.evenly {
  display: flex;
  justify-content: space-evenly;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
}
.desktop {
  display: block !important;
}
@media screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}
.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 10px auto;
}
.search-bar {
  display: contents !important;
  padding: 0 5%;
}
.icon-buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.highlighted-element {
  outline: 3px solid red !important;
  border-radius: 4px !important;
}
.indicator.mat-icon {
  height: 15px;
  width: 15px;
  font-size: 20px;
  line-height: 0.5;
  vertical-align: bottom;
  overflow: visible;
}

.mat-mdc-progress-bar,
.mat-progress-bar .mat-progress-bar-fill {
  transition: transform 100ms ease !important;
}
.mat-horizontal-content-container,
.mat-vertical-content {
  padding: 10px 24px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-header-text {
  margin: 0 !important;
  width: 100%;
}
.mat-mdc-card-header .mat-mdc-card-subtitle {
  margin-bottom: 0 !important;
}
.mat-mdc-card-actions {
  display: flex !important;
  justify-content: center;
  padding: 0 !important;
}
.mat-mdc-card-actions .mat-mdc-button {
  margin: 0 !important;
}
.mat-mdc-menu-panel {
  max-height: min(100vh - 50px, 500px) !important;
}
.categories .mat-mdc-chip {
  font-size: 12px;
  padding: 8px;
  margin: 4px 2px;
  min-height: 24px;
}
.mat-mdc-standard-chip,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-mdc-tab-group {
  border-radius: 4px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
app-comment-list .mat-form-field-wrapper {
  padding: 0 !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
app-admin-dashboard .mat-tab-label {
  min-width: unset;
}
@media screen and (max-width: 767px) {
  .mat-vertical-stepper-header {
    padding: 5px !important;
  }
  .mat-vertical-content-container {
    margin-left: 17px !important;
  }
  .mat-horizontal-content-container,
  .mat-vertical-content {
    padding: 10px 10px 0 !important;
  }
}
