html, body {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
h4 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
dt {
  font-weight: 700;
}
[hidden] {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.between {
  display: flex !important;
  justify-content: space-between !important;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
}
.desktop {
  display: block !important;
}
@media screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

.button-row {
  margin: 10px auto;
  width: 90%;
}
.search-bar {
  display: inline !important;
  padding: 0 5%;
}
.mat-progress-bar,
.mat-progress-bar .mat-progress-bar-fill {
  transition: transform 100ms ease !important;
}
.mat-horizontal-content-container,
.mat-vertical-content {
  padding: 10px 24px !important;
}
.mat-card-header-text {
  margin: 0 !important;
  width: 100%;
  overflow: hidden;
}
.mat-card-header .mat-card-title {
  font-size: 18px !important;
  margin-bottom: 5px !important;
}
.mat-card-header .mat-card-subtitle {
  margin-bottom: 0 !important;
}
.mat-card-actions {
  display: flex !important;
  justify-content: center;
  padding: 0 !important;
}
@media screen and (max-width: 767px) {
  .mat-vertical-stepper-header {
    padding: 5px !important;
  }
  .mat-vertical-content-container {
    margin-left: 17px !important;
  }
  .mat-horizontal-content-container,
  .mat-vertical-content {
    padding: 10px 10px 0 !important;
  }
}
