<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-validation-modal [validationModalParams]="validationModalParams"></app-validation-modal>
<app-notification-modal [notificationModalParams]="notificationModalParams"></app-notification-modal>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-mini-fab matTooltip="Recipes List" color="primary" [routerLink]="['/recipe/list']"><mat-icon>list</mat-icon></a>
  </div>

  <mat-card class="detail-card primary-text-color">
    <mat-progress-bar class="image-progress" mode="determinate" [value]="recipeImageProgress" [hidden]="!recipeImageProgress"></mat-progress-bar>

    <mat-card-header class="d-flex justify-content-center center-text">
      <div class="image-buttons" *ngIf="(online$ | async)">
        <input #uploadFile type="file" id="uploadFile" style="display: none" (change)="readFile($event)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"/>
        <button mat-button matTooltip="Add Image" (click)="uploadFile.click()"><mat-icon style="font-size: 20px">add</mat-icon></button>
        <button mat-button matTooltip="Delete Image" (click)="deleteFile(recipe.id)" [hidden]="!recipeImage"><mat-icon style="font-size: 20px">close</mat-icon></button>
      </div>
      <mat-card-title>
        <h2>{{recipe.name}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <dd> {{recipe.description}} </dd>
      </mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image *ngIf="recipeImage" [src]="recipeImage" alt=""/>

    <div class="row">
      <mat-card-content class="col-sm-4 center-text">
        <dl>
          <dt>Preparation Time</dt>
          <dd>{{recipe.time || "No Preparation Time"}}</dd>

          <dt>Servings</dt>
          <dd>{{recipe.servings || "No Servings"}}</dd>

          <dt>Calories</dt>
          <dd>{{recipe.calories || "No Calories"}}</dd>

          <dt>Quantity</dt>
          <dd>{{recipe.quantity || "No Quantity"}}</dd>

          <dt>Categories</dt>
          <dd>
            <mat-chip-list class="d-flex justify-content-center">
              <mat-chip *ngFor="let category of recipe.categories; let i = index" (click)="setListFilter(category.category)">
                {{category.category}}
              </mat-chip>
            </mat-chip-list>
            <span *ngIf="recipe.categories.length == 0">No Categories</span>
          </dd>
        </dl>
      </mat-card-content>

      <mat-card-content class="col-sm-4 center-text"> 
        <dl>
          <dt>Directions</dt>

          <div *ngFor="let step of recipe.steps; let i = index">
              <span class="step-header">Step: {{i+1}}</span>
              <dd>{{step.step || "No Steps"}}</dd>
          </div>
        </dl>
      </mat-card-content>

      <mat-card-content class="col-sm-4 center-text">
        <dl>
          <dt>Ingredients</dt>

          <div class="list">
            <div class="box" *ngFor="let ingredient of ingredients">
                {{ingredient.quantity}}  {{ingredient.uom === 'other'? '' : ingredient.uom}} - {{ingredient.name}}
            </div>
            <div class="box" *ngIf="ingredients == null || ingredients.length == 0">
              No Ingredients
            </div>
          </div>
        </dl>
      </mat-card-content>
    </div>

    <mat-card-actions class="d-flex justify-content-between">
      <a mat-mini-fab matTooltip="Edit Recipe" color="primary" [routerLink]="['/recipe/edit/', recipe.id]">
        <mat-icon>edit</mat-icon>
      </a>

      <button mat-raised-button (click)="setListFilter(recipe.author)" class="author-link" *ngIf="recipe.author">
        by {{recipe.author}}
      </button>
      <a mat-mini-fab matTooltip="Delete Recipe" color="warn" (click)="deleteRecipe(recipe.id)">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
