dt {
  font-size: 18px;
  margin-bottom: 5px;
}
dd {
  font-size: 16px;
  margin-bottom: 20px;
}
.center-text {
  text-align: center;
}
.image-progress {
  width: calc(100% + 32px);
  margin: 0 -16px;
  top: -16px;
}
.rating-buttons {
  position: absolute;
  top: 0;
  left: 5px;
}
.image-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.image-buttons .mat-button {
  padding: 0;
  min-width: 30px;
}
.detail-card {
  margin: 0 15%;
}
.mat-card-title {
  margin-top: 5px;
}
.recipe-link {
  text-decoration: underline;
  color: inherit;
}
.recipe-link:hover {
  color: grey;
}
.mat-card-image {
  // height: 350px;
  object-fit: cover;
}
.step-header {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.list {
  min-height: 40px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.1),
              2px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.box {
  padding: 10px 10px;
  border-bottom: solid 1px #999;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
}
.box:last-child {
  border: none;
}
.author-link {
  color: inherit;
  height: fit-content;
}
.author-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .detail-card {
    margin: 0;
  }
}
