<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-validation-modal [params]="validationModalParams"></app-validation-modal>

<div *ngIf="!loading">
  <div class="button-row">
    <a mat-mini-fab matTooltip="Recipes List" color="primary" [routerLink]="['/recipe/list']"><mat-icon>list</mat-icon></a>
  </div>

  <mat-card class="detail-card primary-text-color">
    <mat-progress-bar class="image-progress" mode="determinate" [value]="recipeImageProgress" [hidden]="!recipeImageProgress"></mat-progress-bar>

    <mat-card-header class="center center-text">
      <div class="rating-buttons">
        <app-rating (rate)="onRate($event, recipe)" [recipe]="recipe" [uid]="user.uid"></app-rating>
      </div>
      <div class="image-buttons" *ngIf="(online$ | async)">
        <input #uploadFile type="file" id="uploadFile" style="display: none" (change)="readFile($event)" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"/>
        <button mat-button matTooltip="Add Image" (click)="uploadFile.click()" [hidden]="recipeImage"><mat-icon>add</mat-icon></button>
        <button mat-button matTooltip="Delete Image" (click)="deleteFile(recipe.id)" [hidden]="!recipeImage"><mat-icon>close</mat-icon></button>
      </div>
      <mat-card-title>
        <h2 *ngIf="!recipe.link">{{recipe.name}}</h2>
        <h2 *ngIf="recipe.link">
          <a class="recipe-link" href="{{recipe.link}}" target="_blank" rel="noreferrer">{{recipe.name}}</a>
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <dd>{{recipe.description}}</dd>
      </mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image *ngIf="recipeImage" [src]="recipeImage" alt=""/>

    <mat-card-actions>
      <button mat-button color="primary" (click)="addIngredients(recipe.id)">Add to List</button>
      <button mat-button color="warn" (click)="removeIngredients(recipe.id)">
        <span>Cook</span>
        <span *ngIf="recipe.count && recipe.count > 0">({{recipe.count | number: '1.0-2'}})</span>
      </button>
    </mat-card-actions>

    <div class="container">
      <mat-card-content class="center-text">
        <dl>
          <span *ngIf="recipe.time">
            <dt>Preparation Time</dt>
            <dd>{{recipe.time}}</dd>
          </span>

          <span *ngIf="recipe.servings">
            <dt>Servings</dt>
           <dd>{{recipe.servings}}</dd>
          </span>
          
          <span *ngIf="recipe.calories">
            <dt>Calories</dt>
            <dd>{{recipe.calories}}</dd>
          </span>

          <span *ngIf="recipe.quantity">
            <dt>Quantity</dt>
            <dd>{{recipe.quantity}}</dd>
          </span>

          <span *ngIf="recipe.categories && recipe.categories.length">
            <dt>Categories</dt>
            <dd>
              <mat-chip-list class="center">
                <mat-chip *ngFor="let category of recipe.categories; let i = index" (click)="setCategoryFilter(category.category)">
                  {{category.category}}
                </mat-chip>
              </mat-chip-list>
            </dd>
          </span>

          <dt>Times Cooked</dt>
          <dd>{{timesCooked}}</dd>

          <span *ngIf="lastDateCooked">
            <dt>Last Date Cooked</dt>
            <dd>{{lastDateCooked | date:'mediumDate'}}</dd>
          </span>
        </dl>
      </mat-card-content>

      <mat-card-content class="center-text" *ngIf="recipe.steps && recipe.steps.length"> 
        <dl>
          <dt>Directions</dt>

          <div *ngFor="let step of recipe.steps; let i = index">
              <span class="step-header">Step: {{i+1}}</span>
              <dd>{{step.step}}</dd>
          </div>
        </dl>
      </mat-card-content>

      <mat-card-content class="center-text" *ngIf="ingredients && ingredients.length">
        <dl>
          <dt>Ingredients</dt>

          <div class="list">
            <div class="box" *ngFor="let ingredient of ingredients">
                {{ingredient.quantity}}  {{ingredient.uom === 'other'? '' : ingredient.uom}} - {{ingredient.name}}
            </div>
          </div>
        </dl>
      </mat-card-content>
    </div>

    <mat-card-actions class="between">
      <a mat-mini-fab matTooltip="Edit Recipe" color="primary" [routerLink]="['/recipe/edit/', recipe.id]">
        <mat-icon>edit</mat-icon>
      </a>

      <button mat-raised-button (click)="setAuthorFilter(recipe.author)" class="author-link" *ngIf="recipe.author">by {{recipe.author}}</button>
      
      <a mat-mini-fab matTooltip="Delete Recipe" color="warn" (click)="deleteRecipe(recipe.id)">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
