<app-loading-modal *ngIf="loading"></app-loading-modal>
<app-recipe-history-modal [Params]="recipeHistoryModalParams"></app-recipe-history-modal>

<div *ngIf="!loading">
  <mat-card class="mat-elevation-z8">
    <mat-progress-bar
      class="image-progress"
      mode="determinate"
      [value]="recipeImageProgress"
      [hidden]="!recipeImageProgress"
    ></mat-progress-bar>

    <mat-card-header class="center center-text">
      <div class="rating-buttons">
        <app-rating (rate)="onRate($event, recipe)" [recipe]="recipe" [uid]="user.uid"></app-rating>
      </div>

      <div class="icon-buttons">
        <button
          mat-button
          matTooltip="Copy Recipe Link"
          class="share-button"
          (click)="copyShareableLink()"
        >
          <mat-icon>share</mat-icon>
        </button>

        <app-image-upload
          [id]="recipe.id"
          [updateImage]="updateImage"
          [(progress)]="recipeImageProgress"
          [(image)]="recipeImage"
          *ngIf="hasAuthorPermission"
        ></app-image-upload>
      </div>

      <mat-card-title>
        <h2 *ngIf="!recipe.link">{{ recipe.name }}</h2>
        <h2 *ngIf="recipe.link">
          <a class="recipe-link" href="{{ recipe.link }}" target="_blank" rel="noreferrer">
            {{ recipe.name }}
          </a>
        </h2>

        <img *ngIf="recipeImage" class="mobile" mat-card-image [src]="recipeImage" alt="" />
      </mat-card-title>
      <mat-card-subtitle>
        <div class="recipe-description">{{ recipe.description }}</div>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="container">
      <mat-card-content *ngIf="recipeImage" class="desktop">
        <img mat-card-image [src]="recipeImage" alt="" />
      </mat-card-content>

      <mat-card-content>
        <div class="info-container mobile-center-text">
          <div *ngIf="recipe.time">{{ recipe.time }} prep</div>

          <div *ngIf="recipe.servings">{{ recipe.servings }} servings</div>

          <div class="calories">
            {{ recipe.calories | number : '1.0-0' }} calories
            <mat-icon
              matTooltip="Calories are per serving and based on non-optional ingredients. Requirements for calculation are: recipe servings and ingredients with calories"
            >
              info_i
            </mat-icon>
          </div>

          <button
            mat-button
            matTooltip="Edit Times Cooked"
            color="primary"
            class="times-cooked-button"
            (click)="updateTimesCooked(recipe)"
          >
            {{ timesCooked }} times cooked
          </button>

          <div *ngIf="lastDateCooked">Last cooked on {{ lastDateCooked }}</div>

          <div *ngIf="creationDate">Created on {{ creationDate }}</div>

          <div class="categories-container" *ngIf="shouldDisplayCategories()">
            <app-category-chips [recipe]="recipe" />
          </div>

          <div class="list-buttons">
            <button mat-button color="accent" (click)="changeStatus()" *ngIf="hasAuthorPermission">
              <span *ngIf="recipe.status !== 'private'">Published</span>
              <span *ngIf="recipe.status === 'private'">Private</span>
            </button>
            <div *ngIf="!hasAuthorPermission"></div>
            <button mat-button color="primary" (click)="addIngredients()">Add to List</button>
            <button mat-button color="primary" *ngIf="user.hasPlanner" (click)="addRecipe()">
              Add to Plan
            </button>
            <div *ngIf="!user.hasPlanner"></div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content
        class="ingredients-container mobile-center-text"
        *ngIf="recipe.ingredients && recipe.ingredients.length"
      >
        <div *ngIf="(recipe.ingredients | filterOptional : false)?.length !== 0">
          <h5>Ingredients</h5>

          <div class="list">
            <div
              class="box"
              *ngFor="let recipeIngredient of recipe.ingredients | filterOptional : false"
            >
              <a
                class="ingredient-link"
                [routerLink]="['/recipe/detail/', recipeIngredient.id]"
                *ngIf="recipeIngredient.uom === 'recipe'"
                matTooltip="Navigate to This Recipe"
              >
                <span>
                  {{ getQuantity(recipe.id, recipe.servings, recipeIngredient.quantity) }}
                  {{ recipeIngredient.name }}
                </span>
                <mat-icon class="indicator" matTooltip="This is a recipe">r_mobiledata</mat-icon>
              </a>

              <a
                class="ingredient-link"
                [routerLink]="['/ingredient/detail/', recipeIngredient.id]"
                *ngIf="recipeIngredient.uom !== 'recipe'"
                matTooltip="Navigate to This Ingredient"
              >
                {{ getQuantity(recipe.id, recipe.servings, recipeIngredient.quantity) }}
                {{ recipeIngredient.uom === 'other' ? '' : recipeIngredient.uom }}
                {{ recipeIngredient.name }}
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="(recipe.ingredients | filterOptional : true)?.length !== 0">
          <h5>Optional Ingredients</h5>

          <div class="list">
            <div
              class="box"
              *ngFor="let recipeIngredient of recipe.ingredients | filterOptional : true"
            >
              <a
                class="ingredient-link"
                [routerLink]="['/recipe/detail/', recipeIngredient.id]"
                *ngIf="recipeIngredient.uom === 'recipe'"
              >
                <span>
                  {{ getQuantity(recipe.id, recipe.servings, recipeIngredient.quantity) }}
                  {{ recipeIngredient.name }}
                </span>
                <mat-icon class="indicator" matTooltip="This is a recipe">r_mobiledata</mat-icon>
              </a>

              <a
                class="ingredient-link"
                [routerLink]="['/ingredient/detail/', recipeIngredient.id]"
                *ngIf="recipeIngredient.uom !== 'recipe'"
              >
                {{ getQuantity(recipe.id, recipe.servings, recipeIngredient.quantity) }}
                {{ recipeIngredient.uom === 'other' ? '' : recipeIngredient.uom }}
                {{ recipeIngredient.name }}
              </a>
            </div>
          </div>
        </div>

        <app-recipe-multiplier
          [recipeId]="recipe.id"
          [defaultServings]="recipe.servings"
          *ngIf="recipe.ingredients.length !== 0"
        />
      </mat-card-content>
    </div>
    <mat-card-content *ngIf="recipe.steps && recipe.steps.length">
      <h5 class="mobile-center-text">Directions</h5>

      <div class="directions">
        <div class="step" *ngFor="let step of recipe.steps; let i = index">
          <span
            class="step-number"
            [ngClass]="{ selected: step.isSelected }"
            (click)="toggleStep(step)"
          >
            {{ i + 1 }}
          </span>
          <span class="step-description">{{ step.step }}</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="action-buttons">
      <div class="between">
        <button
          mat-raised-button
          matTooltip="Filter Recipes by This Author"
          (click)="setAuthorFilter(recipe.author)"
          class="author-link"
          *ngIf="recipe.author"
        >
          by {{ recipe.author }}
        </button>
      </div>

      <div class="between">
        <div class="right-buttons">
          <a
            mat-button
            matTooltip="Delete Recipe"
            color="warn"
            (click)="deleteRecipe(recipe.id)"
            *ngIf="hasAuthorPermission"
          >
            <mat-icon>delete</mat-icon>
          </a>
          <button mat-button matTooltip="Copy Recipe" (click)="cloneRecipe()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>

        <button
          mat-button
          matTooltip="Edit Recipe"
          color="primary"
          id="edit-recipe-button"
          (click)="openRecipeEditor()"
          *ngIf="hasAuthorPermission"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="button-row">
    <app-tutorial-button />
    <a mat-button matTooltip="Recipes List" color="primary" routerLink="/recipe/list">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <br />
  <br />

  <app-comment-list [id]="recipe.id" *ngIf="hasAuthorPermission"></app-comment-list>
</div>
