<div class="home-container">
  <div class="d-flex justify-content-center">
    <h2>
      Welcome to the Cookbook!
    </h2>
  </div>
  <br/>

  <div class="d-flex justify-content-center">
    <h4>
      Click an icon to get started
    </h4>
  </div>

  <div class="d-flex justify-content-center icon-container">
    <div class="row">
      <div class="nav-tile col-6 col-sm-4 col-md-3" routerLink="/recipe/list">
        <mat-icon class="nav-icon">restaurant</mat-icon><!-- local_dining -->
        <h6>Recipes</h6>
      </div>

      <div class="nav-tile col-6 col-sm-4 col-md-3" routerLink="/ingredient/list">
        <mat-icon class="nav-icon">kitchen</mat-icon>
        <h6>Ingredients</h6>
      </div>

      <div class="nav-tile col-6 col-sm-4 col-md-3" routerLink="/shopping/list">
        <mat-icon class="nav-icon">shopping_cart</mat-icon>
        <h6>Shopping List</h6>
      </div>

      <div class="nav-tile col-6 col-sm-4 col-md-4" routerLink="/profile/settings">
        <mat-icon class="nav-icon">person</mat-icon>
        <h6>Profile</h6>
      </div>

      <div class="nav-tile col-6 col-sm-4 col-md-4" routerLink="/profile/analytics">
        <mat-icon class="nav-icon">bar_chart</mat-icon>
        <h6>Analytics</h6>
      </div>
    </div>
  </div>
  <br/>
</div>
