<div class="d-flex justify-content-center">
  <h2>
    Title...
  </h2>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    This is the home page.
  </p>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    There will be three big clickable tiles here.
  </p>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    One for recipes list,
  </p>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    one for ingredients list,
  </p>
</div>
<br/>

<div class="d-flex justify-content-center">
  <p>
    and one for the shopping list.
  </p>
</div>