<div class="home-container">
  <h2>Welcome to the Cookbook!</h2>

  <div class="center">
    <h4>Click an icon to get started</h4>
  </div>

  <div class="container center">
    <div class="nav-tile" routerLink="/recipe/list">
      <mat-icon class="nav-icon">restaurant</mat-icon>
      <h6>Recipes</h6>
    </div>

    <div class="nav-tile" routerLink="/ingredient/list">
      <mat-icon class="nav-icon">kitchen</mat-icon>
      <h6>Ingredients</h6>
    </div>

    <div class="nav-tile" routerLink="/shopping/list">
      <mat-icon class="nav-icon">shopping_cart</mat-icon>
      <h6>Shopping List</h6>
    </div>

    <div class="nav-tile" routerLink="/profile/list">
      <mat-icon class="nav-icon">people</mat-icon>
      <h6>Authors</h6>
    </div>

    <div class="nav-tile" routerLink="/profile/settings">
      <mat-icon class="nav-icon">person</mat-icon>
      <h6>Profile</h6>
    </div>

    <div class="nav-tile" routerLink="/profile/analytics">
      <mat-icon class="nav-icon">bar_chart</mat-icon>
      <h6>Analytics</h6>
    </div>
  </div>
</div>
