.home-container {
    text-align: center;
}
.row {
    justify-content: center;
}
.icon-container {
    margin-top: 5%;
}
.nav-tile {
    cursor: pointer;
}
.nav-tile:hover {
    color: grey;
}
.nav-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin: 25px 25px;
}
