.container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 50px;
}
.mat-mdc-form-field {
  width: 60%;
}
.user-card {
  width: 200px;
  margin: 10px;
  text-align: center;
}
.mat-mdc-card-header {
  flex-grow: 1;
  overflow: auto;
}
.mat-mdc-card-header .mat-mdc-card-subtitle {
  width: min-content;
  margin: -8px auto 0 !important;
}
.mat-mdc-card-image {
  margin: 0 -16px 16px !important;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.mat-mdc-card-actions {
  display: flex !important;
  justify-content: center;
  width: min-content;
  margin: 0 auto !important;
  padding: 0 !important;
}
.mat-mdc-card-actions .mat-mdc-button {
  margin: 0 0 0 20px !important;
  padding: 0;
}
.mat-mdc-card-actions .mat-mdc-button:first-child {
  margin: 0 !important;
}
.mat-mdc-paginator {
  background: inherit;
}
.full-width {
  width: 100%;
}
.profile-link {
  color: inherit;
  height: fit-content;
  margin: auto !important;
}
.profile-link:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .user-card {
    margin: 5px;
  }
}
