<app-modal [params]="params">
  <div class="text-center">
    <h4>{{ params?.text }}</h4>
  </div>
  <br />
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()" appFormValidation>
    <div class="center">
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Times Cooked"
          formControlName="timesCooked"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span *ngIf="!form.get('timesCooked').valid && form.get('timesCooked').touched">
            Please enter a valid amount for Times Cooked
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <br />
    <div class="button-row">
      <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" style="margin-right: 20px">
        Confirm
      </button>
    </div>
  </form>
</app-modal>
