<button mat-button class="title-button" matTooltip="Give Feedback" (click)="open()">
  Feedback
</button>

<app-modal>
  <app-loading-modal *ngIf="loading"></app-loading-modal>

  <h2>Feedback Form</h2>

  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
    appFormValidation
  >
    <mat-form-field class="form-field">
      <mat-label>Please enter your feedback here</mat-label>
      <textarea
        matInput
        placeholder="ex. This is a very helpful placeholder."
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
      ></textarea>
      <mat-error>
        <span *ngIf="!form.get('description').valid && form.get('description').touched">
          Please enter a description
        </span>
      </mat-error>
    </mat-form-field>

    <div class="button-row">
      <button mat-button matTooltip="Submit Feedback" type="submit" color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </form>
</app-modal>
