<mat-chip-listbox *ngIf="recipe">
  <mat-chip-option
    (click)="setCategoryFilter('New!')"
    *ngIf="recipe.hasNewCategory"
    matTooltip="Filter Recipes by This Category"
  >
    New!
  </mat-chip-option>
  <mat-chip-option
    (click)="setCategoryFilter('Needs Image')"
    *ngIf="recipe.hasNeedsImageCategory"
    matTooltip="Filter Recipes by This Category"
  >
    Needs Image
  </mat-chip-option>
  <mat-chip-option
    *ngIf="!!recipe.type"
    (click)="setTypeFilter(recipe.type)"
    matTooltip="Filter Recipes by This Category"
  >
    {{ recipe.displayType }}
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isVegetarian"
    (click)="setRestrictionFilter('isVegetarian')"
    matTooltip="Filter Recipes by This Category"
  >
    Vegetarian
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isVegan"
    (click)="setRestrictionFilter('isVegan')"
    matTooltip="Filter Recipes by This Category"
  >
    Vegan
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isGlutenFree"
    (click)="setRestrictionFilter('isGlutenFree')"
    matTooltip="Filter Recipes by This Category"
  >
    Gluten Free
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isDairyFree"
    (click)="setRestrictionFilter('isDairyFree')"
    matTooltip="Filter Recipes by This Category"
  >
    Dairy Free
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isServedHot"
    (click)="setTemperatureFilter('isServedHot')"
    matTooltip="Filter Recipes by This Category"
  >
    Hot
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isServedRoom"
    (click)="setTemperatureFilter('isServedRoom')"
    matTooltip="Filter Recipes by This Category"
  >
    Room Temperature
  </mat-chip-option>
  <mat-chip-option
    *ngIf="recipe.isServedCold"
    (click)="setTemperatureFilter('isServedCold')"
    matTooltip="Filter Recipes by This Category"
  >
    Cold
  </mat-chip-option>
  <mat-chip-option
    *ngFor="let category of recipe.categories"
    (click)="setCategoryFilter(category.category)"
    matTooltip="Filter Recipes by This Category"
  >
    {{ category.category }}
  </mat-chip-option>
</mat-chip-listbox>
