.short-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.item-form {
  display: flex;
  justify-content: center;
}
.item-form-field {
  width: 100%;
  padding-right: 15px;
}
.table-container {
  margin-bottom: 20px;
  border-radius: var(--radius);
}
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid var(--border);
}
.table-row:last-child {
  border: none;
}
.table-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plain-link {
  color: inherit;
}
.plain-link:hover {
  text-decoration: none;
}
.ingredient-text {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.empty-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;

  h4 {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .mat-cell {
    width: 100%;
    display: block;
    min-height: 0;
  }
  .mat-cell:first-of-type,
  .mat-cell:last-of-type {
    padding: 0;
  }
  .mat-row:after {
    min-height: 0;
  }
  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
}
