.table-container {
    display: flex;
    flex-direction: column;
}
.mobile-label {
    display: none;
}
.buy-icon {
    vertical-align: middle;
    font-size: 25px;
}
.mat-button {
    padding: 0;
    min-width: 30px;
}

.simplified {
    flex-grow: 1;
    max-width: 450px;
}
.simplified .mat-row {
    flex-direction: unset;
    align-items: center;
    padding: 5px 10px;
}
.simplified .mat-cell {
    width: 100%;
    display: block;
    min-height: 0;
}
.simplified .mat-cell:first-of-type, .mat-cell:last-of-type {
    padding: 0;
}
.simplified .mat-cell:last-of-type {
    text-align: end;
}

@media screen and (max-width: 767px) {
    .mat-cell {
        width: 100%;
        display: block;
        min-height: 0;
    }
    .mat-cell:first-of-type, .mat-cell:last-of-type {
        padding: 0;
    }
    .mat-row:after {
        min-height: 0;
    }
    .mobile-label {
        display: inline;
    }
    .mobile-value {
        float: right;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 10px 20px;
    }
}
