<app-loading-modal *ngIf="loading"></app-loading-modal>

<h2>Your Shopping List</h2>

<div *ngIf="!loading">
  <form class="short-container item-form center" (ngSubmit)="addItem(ingredientControl.value)">
    <mat-form-field class="item-form-field">
      <input
        matInput
        placeholder="Add an Ingredient"
        [formControl]="ingredientControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        autoActiveFirstOption
        (optionSelected)="addIngredient($event.option.value)"
      >
        <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
          {{ ingredient.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button matTooltip="Add Item" type="submit" color="primary">
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-button
      matTooltip="Tutorial"
      type="button"
      (click)="openTutorial()"
      style="margin-left: 10px"
    >
      <mat-icon>help</mat-icon>
    </button>
  </form>

  <div class="short-container" *ngIf="displayIngredients">
    <div *ngFor="let categoryIngredients of displayIngredients | keyvalue : categoryOrder">
      <h6>{{ categoryIngredients.key }}</h6>

      <div class="table-container mat-elevation-z8 box">
        <div class="table-row" *ngFor="let ingredient of categoryIngredients.value">
          <a
            class="table-cell plain-link"
            [routerLink]="['/ingredient/detail/', ingredient.id]"
            *ngIf="!ingredient.isItem"
          >
            {{ ingredient.cartQuantity | number : '1.0-2' }}
            {{ ingredient.uom === 'other' ? '' : ingredient.uom }}
            {{ ingredient.name }}
          </a>
          <button
            mat-raised-button
            matTooltip="Remove Item"
            color="primary"
            *ngIf="!ingredient.isItem"
            (click)="addIngredientToPantry(ingredient.id)"
          >
            <mat-icon>done</mat-icon>
          </button>

          <span class="table-cell" *ngIf="ingredient.isItem">
            {{ ingredient.name }}
          </span>
          <button
            mat-raised-button
            matTooltip="Remove Item"
            color="primary"
            *ngIf="ingredient.isItem"
            (click)="removeItem(ingredient.id)"
          >
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="short-container button-row" *ngIf="displayIngredients">
    <button
      mat-button
      matTooltip="Remove All Items"
      color="primary"
      style="float: right"
      (click)="addAllToPantry()"
    >
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  </div>
</div>

<div class="text-center" *ngIf="!loading && !displayIngredients">
  <br />
  <h4 [hidden]="isCompleted">Your shopping list is empty</h4>
  <h4 [hidden]="!isCompleted">Your shopping list is completed!</h4>
</div>
